[2018-06-09 20:53] docwilmot opened #1 "Remove dependency on EMW"
This uses a few calls to `entity_metadata_wrapper()` which needs removing and needs to update the controller to save revisions. Once this is done can remove dependency on EMW.

[2018-06-12 16:49] docwilmot commented on #1
Removed the dependency, but this involved removing dependency on `Entity API` code as well, most important removed Entity property info getter and setter callbacks. I have no idea how much this will affect. Seems to work OK, but until we get some real world testing and/or automated tests, won't know for sure.

[2018-06-17 14:20] davegmk opened #2 "Error when trying to remove Paragraph"
Many thanks for your work on getting Paragraphs into Backdrop.

I've been testing on Backdrop 1.10.1.  I get a fatal error when trying to remove a Paragraph from a node using the 'Remove' button.

The Paragraph is removed as expected but when the node is saved I get a ' The website encountered an unexpected error. Please try again later' message.

In the logs I have the following error:

Error: Ca

[2018-06-18 19:55] laryn opened #3 ""You are not allowed to add any of the bundles.""
I'm having trouble giving access to an editor to be able to add/edit bundles. I've tried with and without the permissions sub-module (and the related permissions that it creates), and have also tried granting "Administer paragraphs bundles" as a test (although I'd prefer not to do this on the live site), but this is the persistent message:

[2018-06-18 21:25] laryn commented on #3
Maybe related?
https://github.com/backdrop/backdrop-issues/issues/3011

[2018-06-18 22:03] klonos commented on #3
Not sure when exactly this port was made (off of which version of the respective d.org module I mean) and if is been kept up to date with recent fixes, but these tickets from the d.org module could be related:

[Paragraphs bundle access breaks on draft revisions](https://www.drupal.org/project/paragraphs/issues/2562875)
[Bundles are disabled when parent entity has no access callback defined](https

[2018-06-19 16:14] docwilmot commented on #2
Thanks for the review. Please try again, may have fixed it.

[2018-06-19 16:17] docwilmot commented on #3
Thanks for the review. Please try again, may have fixed it.
@laryn this shouldnt be a problem; I integrated the `entity_access()` calls into the module directly.
@klonos those issues are not likely related. (Although they probably still exist for nested paragraphs since I dont see a merged patch fix).

[2018-06-19 16:29] laryn commented on #3
Yes, seems to solve it -- thanks!

[2018-06-19 16:29] #3 closed

[2018-06-19 16:30] laryn opened #4 "Focus jumps to node title"
When adding a new paragraph, focus keeps jumping back to the node title which is a usability problem.

[2018-06-19 16:38] docwilmot commented on #4
I'm not seeing this. Might need more info.

[2018-06-19 16:45] laryn commented on #4
Hmm.. Maybe something in my installation somehow? I'll do further testing.

[2018-06-19 16:51] laryn commented on #4
Okay, it seems to be because that's where the focus was when I clicked the button to add the paragraph. (I just went right to testing the paragraph functionality without adding any other info to the node) It was so noticeable in this case because the field list is long and the paragraph field was below the scroll, and so it jumped all the way back to the top and I had to scroll down again to see t

[2018-06-20 10:11] davegmk commented on #2
Many thanks, removal now seems to be working.

[2018-06-20 11:45] #2 closed

[2018-07-23 15:23] laryn opened #5 "Paragraphs and Views"
I was having trouble trying to get Views working with Paragraphs and I think I figured it out but can't figure out how to upload an image to the wiki... so I'm adding it here.

![paragraphs-views-backdropcms](https://user-images.githubusercontent.com/871421/43086230-7ce455a0-8e62-11e8-809b-640a28008f93.jpg)

[2018-07-23 15:24] laryn commented on #5
Here's the Wiki page:

https://github.com/backdrop-contrib/paragraphs/wiki/Paragraphs-and-Views

[2018-07-23 15:24] #5 closed, assigned to nobody

[2018-07-24 19:38] docwilmot commented on #5
Thx for that. I'm sure it will come in handy for someone.

[2018-07-26 19:43] herbdool opened #6 "Error when adding field to bundle"
I added a paragraph bundle and added a file field. I got this error:

`Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'paragraphs_bundle_title_callback' not found or invalid function name in _menu_item_localize() (line 754 of /app/core/includes/menu.inc).`

[2018-07-26 19:46] herbdool commented on #6
Then when I add this bundle to the page content type I get these errors:

`Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'element_validate_integer_positive' not found or invalid function name in _form_validate() (line 1483 of /app/core/includes/form.inc).`
`Warning: uasort() expects parameter 2 to be a valid callback, function 'backdrop_sort_weight' not found

[2018-08-22 21:29] laryn opened #7 "Preprocessing difficulty"
An issue I raised on Gitter and haven't been able to crack yet:

@alexfinnarn 10:55

[2018-08-23 16:27] laryn commented on #7
Update: I think I may be having some success (after trying a ton of different function names) with the following in my theme's `template.php` file:

[code]

And in the end I was able to accomplish what I needed (adding a class to a certain field within the paragraph) within `THEME_preprocess_field`.

[2018-08-23 22:52] laryn opened #8 "Notice: Undefined property: TaxonomyTerm::$vid"
`Notice: Undefined property: TaxonomyTerm::$vid in paragraphs_entity_access() (line 1531 of /path/modules/paragraphs/paragraphs.module).`

[2018-08-24 01:49] laryn opened #10 "Paragraphs don't display on taxonomy terms"
I added Paragraphs to a taxonomy vocabulary, but they don't seem to be displaying on the term's page. I've double checked the display settings and the paragraph is set to show:

![screenshot_2018-08-23](https://user-images.githubusercontent.com/871421/44560557-f1f02880-a715-11e8-884c-2e07dcab3577.png)

[2018-08-24 14:08] laryn commented on #10
Hold that thought. I'm trying to reproduce and it may be something locally on the first install because a basic Paragraphs/taxonomy combo is working on a different dev site.

[2018-08-24 14:22] laryn commented on #10
Discovered it was a configuration issue on my end involving me having removed the "Main content display" and replaced it with only certain fields in the taxonomy layout, so the new paragraph fields just weren't showing up.

[2018-08-28 16:12] laryn opened #11 "Field data and paragraph items are not removed from database when deleted"
I have been doing some testing with Paragraphs and have identified a few issues with orphan data being left in the database:

**- Field data:** When I create new paragraphs on a content type and fill in the info, I can see them populate into the respective `field_data_field_fieldname` tables. However, if I delete that paragraph item, the content in that table is not removed.
**- Paragraph item dat

[2018-08-28 16:29] laryn commented on #7
Reopening because `THEME_preprocess_paragraphs_item` should really work (but doesn't) and I [found a patch on Drupal](https://www.drupal.org/project/paragraphs/issues/2394519#comment-11694857) that seems to do the job. PR coming.

[2018-08-28 16:33] laryn commented on #7
Oops, I accidentally PR'ed on top of my other PR so both are in the same one. Let me know if I need to redo this:

https://github.com/backdrop-contrib/paragraphs/pull/9

[2018-08-28 16:48] laryn commented on #7
I jumped the gun here. This seems to allow preprocessing but kills the display of the paragraphs on the front end... Needs work yet.

[2018-08-28 16:58] laryn commented on #8
https://github.com/backdrop-contrib/paragraphs/pull/12

[2018-08-28 18:35] laryn commented on #7
The PR above seems to fix this. I'd appreciate any testing and feedback but I'm using it on a dev site now and it's making things much easier for me...

[2018-08-30 15:41] #7 closed

[2018-08-30 15:42] #8 closed

[2018-09-05 21:57] laryn opened #14 "Files uploaded in paragraph text areas are not marked permanent"
I have a Paragraph bundle that includes a text area, and files that are uploaded via the WYSIWYG editor are not marked permanent. I believe I have a fix by blindly copying the solution to [a similar issue in relation to comments](https://github.com/backdrop/backdrop-issues/issues/2979).

[2018-09-07 21:19] laryn opened #16 "Issue with tokens?"
I'm not sure about this, but it shows up in my status report with a warning that says "Problems detected".

[2018-09-10 20:47] laryn opened #17 "Maintainer transfer"
Per Gitter:

[2018-09-11 11:59] docwilmot commented on #17
Deal

[2018-09-11 20:38] #17 closed

[2018-09-25 18:04] herbdool commented on #16
There's only one mention of token in the paragraphs code and I don't think it's related to this. What are the steps for reproducing this error?

[2018-09-25 18:42] laryn commented on #16
@herbdool I'm having trouble reproducing on a second server (but also having trouble solving the problem on the first server). I wonder if it's possibly related to https://github.com/backdrop-contrib/paragraphs/issues/11

I'll close this for now and reopen if needed and I figure out how to reproduce.

![screen shot 2018-09-25 at 1 22 38 pm](https://user-images.githubusercontent.com/871421/46035196

[2018-09-25 18:43] laryn commented on #6
@herbdool Are you still seeing these errors?

[2018-09-25 18:50] herbdool commented on #6
Yes, but I should probably also test on a fresh site. Are you seeing these errors too?

[2018-09-25 19:24] herbdool commented on #6
I see the errors on a new site as well.

[2018-09-25 19:28] herbdool commented on #6
For the last error regarding `backdrop_sort_weight` this needs to be converted to the new format as per https://api.backdropcms.org/node/41649

[2018-09-25 19:30] laryn commented on #6
@herbdool Yes, I just tested and see the errors.

[2018-09-26 19:06] herbdool commented on #6
The title callback error is odd. The function can't be found in paragraphs.admin.inc. If I put it in the .module file it works. However, in Drupal 7 the function is in paragraphs.admin.inc. Not sure if we should bother try to debug this further. My PR resolves the issue at any rate https://github.com/backdrop-contrib/paragraphs/pull/20.

[2018-09-26 19:51] laryn commented on #6
@herbdool Nice work! Agreed, that title callback issue seems strange but probably not worth a lot of additional time.

I just tested and I'm still seeing the other error when adding a paragraph field to a content type:

`Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'element_validate_integer_positive' not found or invalid function name in _form_validate() (li

[2018-09-26 20:51] herbdool commented on #11
I see this too. I think it's worth comparing to D7 to decide if this is an issue.

[2018-09-26 21:05] laryn commented on #6
I think we've taken care of these. Thanks @herbdool!

[2018-09-26 21:05] #6 closed

[2018-09-26 22:58] herbdool commented on #11
I should clarify that the field tables are deleted but not the paragraph_item

[2018-09-27 17:13] herbdool commented on #11
I think you also need to delete the paragraph field in order for it to be removed from `paragraphs_item`. I tested this on a D7 site and it behaves the same way.

[2018-09-27 17:43] herbdool opened #22 "Remove unneeded TODO"
In paragraphs.module there's:

[code]

We don't need the TODO since in fact the variable *is* now a state https://api.backdropcms.org/change-records/converted-all-variables-cmi. The code is correct.

[2018-10-04 16:16] laryn commented on #22
Thanks @herbdool !

[2018-10-04 16:16] #22 closed

[2018-11-14 23:21] laryn opened #23 "[2.0] Rename `bundle` to `type` and deprecate functions/permissions that use `bundle`."
EDIT/CLEAN UP:

The term "bundle" has been changed in front-facing places but it remains to clean up the code (function names, permission names, etc.) and deprecate the old "bundle" versions in the same way Backdrop core:

 - provide a wrapper where `paragraphs_bundle_load` calls call `paragraphs_type_load` and mark `paragraphs_bundle_load` as deprecated

[2018-11-21 17:46] robertgarrigos opened #24 "cannot install this module with drush"
I couldn't install this module with lando and drush. Got this error message:

[code]

I could install other modules using this method, but not this module. Bakcdrop 1.11.2. Lando v3.0.0-beta.47

[2018-11-26 15:31] laryn commented on #23
Work in progress locally (will push this week hopefully) but noting here that the label/machine name column(s) should track whatever is decided here, probably (for consistency):

https://github.com/backdrop/backdrop-issues/issues/3395

[2018-11-29 15:44] laryn commented on #23
Just pushed these commits [in a new branch for testing](https://github.com/backdrop-contrib/paragraphs/compare/issue-23). @herbdool do you use Paragraphs? Would you be willing to help me test?

![screenshot from 2018-11-29 09-30-44](https://user-images.githubusercontent.com/871421/49232646-f5045000-f3b9-11e8-9833-66c5b5894878.png)

[2018-11-29 16:03] laryn opened #25 "Use icons in content creation/edit page"
Once #23 is ready, a follow up will be to use the icons in the create/edit pages. Here's how Drupal 8 Paragraphs does it (open and collapsed modes):

![screenshot_2018-11-29 create paragraphed article drupal8 lando dev](https://user-images.githubusercontent.com/871421/49234588-f3d52200-f3bd-11e8-9703-b03a9d4a8e4e.png)

![screenshot_2018-11-29 create paragraphed article drupal8 lando dev 1](https:/

[2018-11-30 18:16] herbdool commented on #23
@laryn sadly I'm not using Paragraphs. If you can't find anyone to help test I'll try to find some time in the near future.

[2018-12-03 17:12] laryn commented on #24
@robertgarrigos Strange! I'll take a look. Hopefully I'll be able to make a new release in not too long, which may be a good way to test if the release shows up as expected for Drush. (Any chance you can help me test https://github.com/backdrop-contrib/paragraphs/issues/23?)

[2018-12-11 11:00] olafgrabienski commented on #16
I'm currently testing the Paragraphs module, and I also see the above mentioned error on the Status report page.

So far, I've enabled the main module, added one paragraph bundle with three fields (text, youtube field, long text), configured its display and added the Paragraph field to a content type.

[2018-12-11 11:19] olafgrabienski opened #26 "Field group on paragraph display doesn't show up"
I've added a *Field group* to the Default display of a Paragraph bundle but the *Field group* doesn't show up on the content item with the corresponding Paragraph field.

So far, I've tried to display a Div and a Fieldset group, and both don't show up, irrespective of the group's setting "collapsed" vs. "collapsible".

I'm new to Paragraphs with Backdrop, so I might have missed something. I'd appr

[2018-12-11 21:39] laryn commented on #26
Thanks @olafgrabienski -- I'll try to take a look at this at some point relatively soon but please update if you have any further information as you test.

[2018-12-12 14:30] olafgrabienski commented on #16
Update: I've reproduced the error, and this time I've tried to have a look at the *Status report* page after every step:

- enabled the main module: no error
- added a paragraph bundle: no error
- added two fields to the bundle (short text, youtube field): error

[2018-12-12 15:10] olafgrabienski commented on #4
@laryn I've seen the same behaviour (focus 'jumps' to node title input). It happens usually with the node title because the title input has focus by default. Some further observations:

- When I put the cursor out of the title input before adding a paragraph, the focus doesn't jump back.
- But when I place the cursor in *another* field input, e.g. the *Body* textarea, before adding a paragraph, th

[2018-12-12 15:10] laryn commented on #16
@olafgrabienski Thanks! I wonder if it could have to do with the Youtube field -- the site that I see this on has a Youtube field as well.

[2018-12-12 15:13] laryn commented on #4
@olafgrabienski Perhaps there is some little javascript we can add in to give focus to the paragraph button that is clicked. I think that would prevent this type of jumping around.

[2018-12-12 15:29] olafgrabienski opened #27 "Change help text when there's only one paragraph bundle"
When I create content with a Paragraphs field, there is a help text like the following at top of the field:

The "Select a Paragraph type" part appears even when there's only one Paragraph bundle (i.e. type) available, so that there is no option to choose a type. In this case a help text without the "type" part would be better, for example:

[2018-12-12 15:44] olafgrabienski commented on #27
In case it's not possible or too complicated to have different help texts: Do we need the help text at all?

[2018-12-12 16:04] olafgrabienski commented on #16
Interesting regarding the Youtube field! I can try to test it in another environment in the next days.

[2018-12-12 17:55] olafgrabienski commented on #16
@laryn Yep, it seems to be *Youtube field*: In a new test, I've added three fields to a Paragraph bundle:

- Short text
- Long text
- Youtube field

The error didn't appear until I added the Youtube field.

[2018-12-19 05:12] serundeputy commented on #23
@laryn In general I'm for this idea as it brings them in parallel with nodes and entities that have types. :+1:

The current [PR](https://github.com/backdrop-contrib/paragraphs/compare/issue-23) seems to be addressing the UI references to bundles in favour of type :+1:

I think this might lead to some less than ideal Developer Experiences [DX] though; :-1:

For example the function [`paragraphs_bu

[2018-12-19 05:23] klonos commented on #23
^^ that's what we've been doing in core. I think that this is the best option.

[2018-12-19 16:18] laryn commented on #23
@serundeputy @klonos I can probably be convinced. I was leaving it as is (just changing the UI) for the moment in the hopes that any potential future updates from the D7 module would apply more cleanly. Maybe I don't need to worry about that.

[2018-12-19 18:13] robertgarrigos commented on #23
I was trying this issue-23 branch and got an error when creating a new paragraph type:

[code]

[2018-12-21 18:27] robertgarrigos opened #28 "paragraph bundle not exported/imported"
I created a new paragraph bundle in a dev site, added a new field to it, checked that it was working and then exported the new configurations with `drush bcex`. Commited and pushed changes to my git repository and pulled from my staging site. Then imported the new configurations with `drush bcim` to the staging site and pargraph bundle was missing. Checked back again that config files were present

[2018-12-24 04:26] daggerhart commented on #1
There are a number of calls to `entity_save()` in the module. From what I can tell, that function only exists within the entity_metadata_wrapper module.
https://github.com/backdrop-contrib/paragraphs/blob/1.x-1.x/ParagraphsItemEntity.inc#L429

[2019-01-02 22:27] laryn commented on #1
Thanks @daggerhart!

@docwilmot do you have any thoughts on whether/how to proceed with solving this? See also:
https://forum.backdropcms.org/forum/how-does-one-create-paragraphs-field-programmatically

L.

[2019-01-03 20:48] laryn commented on #28
@robertgarrigos Interesting! Any ideas? @serundeputy can I drag you into this one for input?

[2019-01-03 20:52] serundeputy commented on #28
I'd create a paragraph bundle on a dev site and import the config via Backdrop UI (sans drush) and see if the config takes.

- If so I'd say  file this bug in the drush queue

- if not i'd say the paragraphs module is not creating all the config necessary to do its job

[2019-01-03 20:56] laryn commented on #28
Thanks @serundeputy!

@robertgarrigos can you try the above and let me know the result?

[2019-01-04 18:37] docwilmot commented on #1
The calls to `entity_save()` should be directly replaceable by ` $host_entity->save()` and `$entity->save()` respectively.

[2019-01-09 07:31] robertgarrigos commented on #28
Right, I'm having different issues with config import/export. I have two "gited" blank local sites (with lando, backdrop1 and backdrop2), with paragraph enabled on both (default profile), create one bundle (in backdrop1 only) and add it a bundle field (text). Then:

## drush

drush export config and git push on backdrop1, git pull and drush import on backdrop2. Results: the bundle paragraph is not

[2019-01-09 13:31] serundeputy commented on #28
Seems a but with `paragraphs` not exporting all the field definitions to config; needs a field config and field instance at least i think.

Have not looked at this code, but seems like the bug is a paragraphs bug.

[2019-01-25 20:11] laryn commented on #16
@olafgrabienski If you get a chance to test https://github.com/laryn/youtube/commit/54d40e90329ebad95dd466fdacda563f86ec1b46 let me know.

[2019-01-26 21:14] olafgrabienski commented on #16
@laryn Sure, I‘ll have a look in the next days.

[2019-01-28 11:05] olafgrabienski commented on #16
@laryn Tested: I've patched a test site with https://github.com/laryn/youtube/commit/54d40e90329ebad95dd466fdacda563f86ec1b46, and the message in the *Status report* disappeared.

[2019-01-29 17:03] bradbulger commented on #27
If an option to hide the help text and/or the contents of $add_text could be added to the variables supplied to theme_paragraphs_field_multiple_value_form() it would be easier to override this in a custom theme function, at least. Or add it to the instance config settings maybe?

[2019-01-30 19:00] bradbulger opened #29 "Undefined index error for #type on remove_button markup item"
I have a Paragraphs field set to use buttons, with no default values so it starts out with no paragraphs. When I am looking at the node creation form, if I click on the Add Paragraph button, and then the Remove button, I get an error:

It's complaining about the 'remove_button' item that's just #markup value. If you add '#type' as "markup", the error goes away.

[2019-01-30 20:10] laryn commented on #29
@bradbulger Interesting. According to the docs, we don't need it but according to your experience we do. 😄

https://api.backdropcms.org/form_api#markup

I'll ask quickly on Gitter to see if this is something that needs to be fixed in core, otherwise I'll merge here.
Thanks!

[2019-01-30 21:36] laryn commented on #29
@bradbulger Do you want to make a PR against core for this one?
https://github.com/backdrop/backdrop-issues/issues/3512

We could do this to "fix" it here but then someone else would see it again later. I think all it needs is a `isset($element[$key]['#type'])` in the beginning of the `if` statement in this spot:
https://github.com/backdrop/backdrop/blob/1.x/core/includes/form.inc#L3367-L3369

[2019-01-30 23:18] bradbulger commented on #29
I don't have an opinion about it. We can either adjust paragraphs to meet the expectations of core, or adjust core to check its expectations. It's an edge case, I think, related to reusing the name "remove_button" that was previously a submit button.

[2019-01-30 23:25] bradbulger commented on #29
Or, no, I misspeak - it's that form_process_actions() assumes that all the items in an "actions" container are actual form elements. The name of the markup item is irrelevant. So yeah, I think you're right. I'll add a PR on 3512.

[2019-01-31 19:52] laryn opened #31 "Revisions don't seem to work with paragraphs"
Haven't done any further testing yet but I see this when trying to save a revision on a node that has paragraphs field:

[2019-02-01 17:58] laryn opened #32 "Node clone doesn't work with paragraphs"
It would be nice if Node Clone could work with Paragraphs (and it looks like the functionality should be there, just needs some tweaks apparently).

[2019-02-10 02:34] laryn commented on #29
Fixed in core.

[2019-02-10 02:34] #29 closed

[2019-02-10 04:00] laryn commented on #16
Fixed in the Youtube module.

[2019-02-10 04:00] #16 closed

[2019-02-19 12:54] olafgrabienski commented on #4
Sorry for the late feedback. Unfortunately, I've not enough JavaScript skills. FYI, here's the core issue which introduced the focus of the node title input: https://github.com/backdrop/backdrop-issues/issues/2625, maybe there's useful information to resort to when changing the behavior of Paragraphs.

[2019-02-19 13:43] olafgrabienski commented on #16
For reference, here the link to the Youtube module issue: https://github.com/backdrop-contrib/youtube/issues/16

[2019-02-19 13:59] olafgrabienski commented on #27
@laryn What would you prefer: to differentiate or to remove the help text?

Here's the current code with the help text, https://github.com/backdrop-contrib/paragraphs/blob/1.x-1.x/paragraphs.module#L1185:

[code]

[2019-02-19 15:41] laryn commented on #4
Thanks @olafgrabienski -- that is useful information and I'll try to see if I can relate something from that thread to this module. e.g. maybe similar to [what was done in that issue](https://github.com/backdrop/backdrop/pull/1832/files), so an "autofocus" on the paragraph form items so when they are added, they get focus.

[2019-02-19 15:44] laryn commented on #27
@olafgrabienski @bradbulger I'm not sure how necessary the instructions are -- it seems pretty clear typically. I'd probably be in favor of just pruning this down to simply:

What are your feelings about that? Brad, I'm open to something like what you suggested if you feel strongly and can make a PR for it.

[2019-02-19 19:29] olafgrabienski commented on #27
That would be sufficient, in my opinion!

[2019-02-19 21:59] bradbulger commented on #27
That would be OK. It applies well enough to cases where there is only one type, and so no "type" at all from the user's pov

[2019-02-19 23:05] laryn commented on #26
@olafgrabienski I added a Field Group to a test paragraph bundle and put a few dummy fields inside it. When I add the paragraph bundle to a content type, I can add a paragraph to the new content page and it has a collapsible fieldset around it:

![screen shot 2019-02-19 at 5 00 33 pm](https://user-images.githubusercontent.com/871421/53053808-08c6cc00-3468-11e9-8f4d-9a7123fc86be.jpg)

I tried with

[2019-02-19 23:11] laryn commented on #26
@olafgrabienski Oh, my bad. You're doing this in the display settings, not the field settings. I can reproduce and will try to think through how to tackle this...

[2019-02-20 09:00] olafgrabienski commented on #26
Yes, I should have said that more clearly, good that you figured it out!

[2019-03-09 01:55] laryn opened #33 "Scheduled publication doesn't work with paragraphs"
Cron gave this error when trying to publish a node that has paragraphs:

[2019-03-13 16:16] laryn commented on #27
Thanks @bradbulger, merged https://github.com/backdrop-contrib/paragraphs/commit/72b6bdc9a9f6313dbb562d57ca524f7412a25c1e .

[2019-03-13 16:16] #27 closed

[2019-03-20 19:32] laryn commented on #32
More:

[2019-03-20 21:01] laryn commented on #32
Line 59:

Line 14:

[2019-03-20 21:03] laryn commented on #1
Hopefully going to be doing some Paragraphs clean-up and bug fixes in the next few days. @docwilmot can I pick your brain about the EMW/entity items mentioned above? Specifically:

 - Entity revision load: https://github.com/backdrop-contrib/paragraphs/issues/33
 - Entity wrapper issue: https://github.com/backdrop-contrib/paragraphs/issues/32
 - ParagraphsItemController->save() issue: https://gith

[2019-03-21 02:01] docwilmot commented on #33
To get rid of the error we could just copy and rename `entity_revision_load()` from D7 Entity API, as it looks simple. But dont know if that would fix scheduled publication. Worth a try.

[2019-03-21 02:25] docwilmot commented on #32
Line 14 of course should be `$node->langcode`

Line 59 is a bigger issue. This code block:
[code]

should really be
[code]

But that will only work for fields that have a `'value'` key, not for things like files (`'fid'`) etc, but maybe commit it like that to get it working for most fields at least, then create an issue to expand the `$old_items = $reset_item['value'];` to a broader
[code]

[2019-03-21 02:44] docwilmot commented on #1
Hi there @laryn, I responded to the first two above. The third re saving entities would need a bit more time. Something to do with revisionKeys.
See previous comment re entity save.
And no Panelizer in Backdrop so far, so that could go I guess till someone ports it.

[2019-04-14 19:08] BWPanda opened #35 "Non-existent function: `entity_load_single()`"
There is a single call to `entity_load_single()`. That function only existed in Drupal's 'Entity' module: https://git.drupalcode.org/project/entity/blob/7.x-1.x/entity.module#L216. The entity functions that got merged into Backdrop core don't include an `entity_load_single()`, however `entity_load()` was re-factored to load a single entity: https://api.backdropcms.org/api/backdrop/core%21modules%2

[2019-04-16 03:07] #35 closed

[2019-05-10 18:36] laryn commented on #23
Status: I think I'm going to leave Backdrop Paragraphs 1.x-1.x more or less as it is on Drupal 7 and begin these changes in Paragraphs 1.x-2.x. (I don't envision D7 Paragraphs getting a lot of attention and massive changes, but these updates will make a lot of changes to the Backdrop version.) Also planning to follow the third option listed by @serundeputy and thumbed up by @klonos.

[2019-05-13 15:10] laryn opened #37 "Hiding and rendering content in .tpl"
[From the Backdrop Forum](https://forum.backdropcms.org/forum/error-rendering-fields-paragraphs-item-bundlenametplphp):

`<?php print render($content['field_example']); ?>`

[2019-05-13 16:55] laryn commented on #33
While generally not a fan of just duplicating functions in potentially a bunch of different modules/places, this is a pretty small function. I left a note so that [if `entity_revision_load` gets into core](https://github.com/backdrop/backdrop-issues/issues/3777) or if I add a future dependency on Entity Plus, I can be reminded to revert this. (And some of the other `entity_revision_` functions tha

[2019-05-13 16:55] #33 closed

[2019-05-13 17:26] laryn opened #38 "Review `entity_revision_` functions"
In https://github.com/backdrop-contrib/paragraphs/issues/33 I (maybe temporarily) duplicated the `entity_revision_load()` function but am now seeing that we have other `entity_revision_` function calls, and there was already some other duplication of `entity_revision_` functions during the port.

It would be good to review and determine if there are any loose ends here, and whether we can move for

[2019-05-14 16:13] laryn commented on #37
**MartinL** have you ever done this successfully in the Drupal 7 version? I am just doing some testing and I am not having success there. I am trying to narrow down if this is a porting-to-Backdrop issue or a module issue that was inherited from D7.

In fact, I can't get any changes in the `paragraphs-item.tpl.php` to get picked up at all in Drupal 7. I think [this is where we at least got that fa

[2019-05-14 18:27] herbdool commented on #37
It worked for me in Drupal 7. I haven't tried in Backdrop but that template should be there in the module itself. And you can turn on theme debug to check which templates are suggested.

[2019-05-16 16:50] PepeMty opened #39 "Fatal error after updating to 1.13.0 ("Cannot make static method EntityInterface::entityType() non static")"
Hey there.
I just updated from 1.12.6 to 1.13.0. Everything seemed to go right. Site looks good, nothing seems broke. So I cleared caches and then ran cron only to receive this:

`Fatal error: Cannot make static method EntityInterface::entityType() non static in class ParagraphsItemEntity in /home/sssssss/public_html/modules/paragraphs/ParagraphsItemEntity.inc on line 612`

So cron didn't run.

An

[2019-05-16 17:19] laryn commented on #39
@PepeMty I'll take a look. What version of Paragraphs? What version of PHP?

[2019-05-16 17:38] PepeMty commented on #39
Thanks, laryn...!
Paragraphs: 1.x-1.0.1
PHP: 7.2

[2019-05-16 19:02] laryn commented on #39
@PepeMty FWIW, I saw something very similar on one site but unrelated to Paragraphs:
https://github.com/backdrop-contrib/ubercart/issues/190

Interestingly, that site has Paragraphs installed, too, but didn't give me the error you got. Out of curiosity, can you change this line:

https://github.com/backdrop-contrib/paragraphs/blob/1.x-1.x/ParagraphsItemEntity.inc#L588

to `static function...` inst

[2019-05-16 19:41] PepeMty commented on #39
**@laryn** Well, well, well... It did work. I just changed the only instance of public function entityType() to static function entityType().

Now I have to remember this tiny change every time Paragraphs module is updated...

Thank you very much.

José

[2019-05-17 05:04] laryn commented on #39
@PepeMty I will figure out what changed and make a new release of Paragraphs. It looks like this change in core may be what did it:
https://github.com/backdrop/backdrop/commit/5741961928f43af00c146cede747eb16e1805aa9

[2019-05-17 14:51] laryn commented on #39
@PepeMty Can you test/confirm this change on your end?
https://github.com/backdrop-contrib/paragraphs/commit/997e3d6f4bb0f74f7b87af97f56ef35c2520f59d

[2019-05-21 14:28] PepeMty commented on #39
@laryn
Sorry for the tardy reply.
Not sure what you want me to do.
Although, I made this change in my site and now it works normally.

Jose

[2019-05-23 18:04] laryn commented on #39
@PepeMty Heads up -- the next release reverts the change that caused this breakage and this will need to be "unpatched" on your site.

https://github.com/backdrop/backdrop-issues/issues/3809#issuecomment-495323262

[2019-05-23 18:52] PepeMty commented on #39
Got it.
You did a great job nailing down this one. Thanks so much.

Warm regards from (way too) sunny México.
José

[2019-05-23 19:02] jenlampton commented on #39
Closing this issue. The core revert will make this change unnecessary (and problematic).

[2019-05-23 19:02] #39 closed

[2019-06-11 16:24] laryn opened #40 "Content translation doesn't pre-populate paragraphs"
With Backdrop's content translation turned on, attempting to create a translation of a content item does not pre-populate Paragraphs with the appropriate fields. It does seem to allow content to be created but you have to recreate each paragraph manually in the new language content page.

Needs further testing, including of the **Paragraphs - Internationalization** submodule (which can't currently

[2019-06-11 16:36] laryn commented on #40
In order to test this further, it looks like we'll need to port the following:

- https://www.drupal.org/project/replicate
- https://www.drupal.org/project/replicate_paragraphs

[2019-07-02 19:59] bradbulger commented on #38
By a dependency on Entity Plus, you mean like calling entity_plus_save() instead of the missing entity_save(), for instance?

[2019-07-02 21:16] laryn commented on #38
@bradbulger Yes, exactly, Requiring the `entity_plus` module and then adjusting all the function calls that previously existed in Drupal to the `entity_api` module (and which don't exist in Backdrop core) to use the `entity_plus` version.

I think that's how I lean but am hoping for more feedback from others.

Doing this might mean undoing some of https://github.com/backdrop-contrib/paragraphs/iss

[2019-07-03 15:02] bradbulger commented on #38
I'd lean towards putting the Entity API into core. I'm always surprised that it isn't.

[2019-07-03 15:08] laryn commented on #38
@bradbulger Most of it is, but there are some parts that are not. I'm not sure exactly how that line was drawn.

Related core conversations:

- https://github.com/backdrop/backdrop-issues/issues/49
- https://github.com/backdrop/backdrop-issues/issues/1649
- https://github.com/backdrop/backdrop-issues/issues/3777

[2019-08-01 15:56] laryn commented on #38
Note: I just tried to use the "Promote" action on the content overview page and got:

[2019-08-22 20:16] laryn commented on #40
I've ported these two projects and in my testing, the **Paragraphs - Internationalization** submodule works now by cloning Paragraphs content when translating.

 - https://github.com/backdrop-contrib/replicate
 - https://github.com/backdrop-contrib/replicate_paragraphs

[2019-08-22 20:16] #40 closed

[2019-11-15 14:18] dBonde opened #41 "Error when translating nodes with nested paragraphs"
I am getting the following error when trying to translate a node which includes paragraphs:
`EntityMetadataWrapperException: Unknown data property [field_name]. in EntityStructureWrapper->getPropertyInfo() (line 335 of /modules/entity_plus/includes/entity_plus.wrapper.inc).`

I have installed the following modules:
- Entity Plus 1.x-1.0.3
- Paragraphs 1.x-1.0.1
- Replicate 1.x-1.2
- Replicate Para

[2019-11-15 15:04] laryn commented on #41
@dBonde Can you test with the latest 1.x-1.x dev and let me know if it works for you?

[2019-11-16 13:41] SorenBonde commented on #41
@laryn tanks for your reply.
I am a bit uncertain to which module and which version you are referring.
Is it Paragraphs, Replicate, Replicate Paragraphs or Entity Plus?

[2019-11-16 16:34] laryn commented on #41
Sorry, I made an assumption since this is in the paragraphs queue -- I was referring to paragraphs.

[2019-11-17 11:37] mazzech commented on #28
I can confirm that... still no paragraph bundles in export. Just compared a export of "body field" with export "paragraphs body field" (created separately), there is no mention of an Entity Type.
![Screenshot 2019-11-17 at 12 36 03](https://user-images.githubusercontent.com/5985692/69006935-0500a100-0937-11ea-9b2c-967ff64bd5fd.png)

[2019-11-18 07:34] SorenBonde commented on #41
No problem, I thought that was what you where referring to, just wanted to be sure. :-)
Just tested with paragraphs-1.x-1.0.1-beta and got the exact same error. :-(
Couldn't find any dev version, so assumed you where referring to the beta version.

[2019-11-18 15:56] laryn commented on #41
@dBonde
I'll try to recreate. I am using Paragraphs on a multilingual site and it's working, so I'll see what's different in my setup than in yours.

[2019-11-18 16:22] laryn commented on #41
@dBonde Do you have any other modules installed or any other non-standard fields on that node?

I set up a test site with all of these modules (except Entity Plus), activated locale and content translation, added a language, added a test paragraph bundle, added a paragraphs field to a content type... and was able to create content in one language and then translate it (with the paragraph pre-popul

[2019-11-18 20:31] SorenBonde commented on #41
@laryn thanks a lot for testing this. Could it be that I have nested paragraphs?

[2019-11-18 20:39] SorenBonde commented on #41
@laryn just tried translating af node without nested paragraphs and it worked fine.
So it is the nested paragraphs that is causing the problem. :-/

[2019-11-21 13:52] SorenBonde commented on #41
Just tried to uninstall the Entity Plus module and tried translating a node with nested paragraphs and got the following error:
`Error: Call to undefined function entity_metadata_wrapper() i replicate_paragraphs_clone_items() (linje 54 af /usr/www/users/supertqf/dtl/modules/replicate_paragraphs/replicate_paragraphs.module).
`

So not really a paragraph issue but a Replicate Paragraph issue.
Create

[2019-11-21 14:00] #41 closed

[2019-11-21 15:52] laryn commented on #41
@dBonde I'm the maintainer there as well so I'll try to find some time to troubleshoot. I was able to replicate with nested paragraphs.

[2019-11-21 21:09] SorenBonde commented on #41
@laryn thanks :-)

[2019-11-22 20:20] laryn commented on #28
@serundeputy If you have a second to gander at these lines -- is this our problem on this issue?
https://github.com/backdrop-contrib/paragraphs/blob/1.x-1.x/ParagraphsItemEntity.inc#L491-L506

[2019-12-02 14:41] sternhagel commented on #38
I'm trying to get Paragraphs working with Feeds, and I'm getting the following error message:

This function doesn't seem to be defined anywhere, not in core "Entity" module, and not in contrib "Entity Plus" module. So I'm afraid requiring the "Entity Plus" module wouldn't fix this particular issue.

[2019-12-02 17:43] laryn commented on #38
@sternhagel That would need to be renamed to [`entity_plus_revision_set_default`](https://github.com/backdrop-contrib/entity_plus/blob/1.x/entity_plus.module#L613-L619) if we make Entity Plus a dependency. (The Entity Plus module changed the function names to avoid conflicts if they ever were put into core afterwards)

[2019-12-04 10:09] sternhagel commented on #31
I can confirm this issue. I'm seeing similar error messages when trying to save a revision of a node with paragraphs on it:

EntityStorageException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '6' for key 'PRIMARY' in ParagraphsItemController->save() (line 55 of [...]/modules/paragraphs/ParagraphsItemController.inc).

[2019-12-04 15:17] laryn commented on #31
Likely related to:

- https://github.com/backdrop-contrib/paragraphs/issues/38

Which is waiting on a decision about core. It seems as though there is some interest in moving entity revision functions into core, though PR needs work:

- https://github.com/backdrop/backdrop-issues/issues/3777

[2019-12-11 22:41] laryn opened #42 "Warning: count(): Parameter must be an array or an object that implements Countable"

[2019-12-11 22:47] laryn commented on #42
`count` requires an array, so for now I'll just make sure this is an array before using that function here.

[2019-12-11 22:49] #42 closed

[2019-12-12 05:51] laryn commented on #38
@sternhagel I made a new branch for testing, which adds a dependency on Entity Plus (although it requires this PR on Entity Plus: https://github.com/backdrop-contrib/entity_plus/pull/16/files). Revisions with Paragraph fields are working for me using this branch. Care to test?

https://github.com/backdrop-contrib/paragraphs/compare/entityplus

If Entity Revision functions get into core we may not

[2019-12-12 06:10] laryn commented on #31
Cross post:

---

I made a new branch for testing, which adds a dependency on Entity Plus (although it requires this PR on Entity Plus: https://github.com/backdrop-contrib/entity_plus/pull/16/files). Revisions with Paragraph fields are working for me using this branch. Anybody care to test?

https://github.com/backdrop-contrib/paragraphs/compare/entityplus

If Entity Revision functions get into co

[2019-12-12 16:48] sternhagel commented on #38
@laryn Thanks for fixing this!

I tested your new branch and it seems to work just fine. Saving new revisions with Paragraphs fields works, and reverting to an older revision works as well.

However, there are some error notices I didn't see before.

On viewing a node with a paragraph:

^^^ might be related to following issue: https://github.com/backdrop-contrib/paragraphs/issues/43

and on revert

[2019-12-12 17:16] sternhagel opened #43 "Views support is broken in 1.x-1.x branch"
When using the current 1.x-1.x branch, it's not possible anymore to show a Paragraphs field in Views. In the latest release version 1.x-1.0.1 it's working fine.

Following commit seems to break the functionality: https://github.com/backdrop-contrib/paragraphs/commit/4e6a801a597694ff14e0ca195bbb7bb4f79d7e61

Steps to reproduce:

* Create a paragraph bundle P with at least one field (e.g. text or im

[2019-12-12 17:22] laryn commented on #43
Thanks @sternhagel! If you find anything else please update. I will try to look at this soon as well, and get some of these wrinkles ironed out...

[2019-12-12 19:09] laryn commented on #43
@sternhagel Can you confirm that the commit referenced prevents the Paragraphs field from displaying correctly in Views, but when using the earlier code despite displaying correctly it also still shows the `Warning: Theme hook "entity" not found.` in the log? (ie. they seem unrelated to me)

[2019-12-12 19:14] laryn commented on #43
@sternhagel It seems the warning is generated from `Entity Plus`, not `Paragraphs` so I've opened this issue:
https://github.com/backdrop-contrib/entity_plus/issues/17

[2019-12-12 19:15] laryn commented on #43
Pretty sure I broke the rendering while trying to solve this one:
https://github.com/backdrop-contrib/paragraphs/issues/37

Just noting here to try to tie that in to this discussion.

[2019-12-13 13:13] laryn commented on #38
@sternhagel Does the new branch work with Feeds as described in https://github.com/backdrop-contrib/paragraphs/issues/38#issuecomment-560425201 ?

[2019-12-13 22:20] laryn commented on #38
@sternhagel Can you test again with the latest commits on the `entityplus` branch, as well as this PR in the `Entity Plus` module itself?
https://github.com/backdrop-contrib/entity_plus/pull/18

[2019-12-13 22:21] laryn commented on #43
This should be fixed with the latest `entityplus` branch work, including this PR on the Entity Plus module:
https://github.com/backdrop-contrib/entity_plus/pull/18

[2019-12-13 22:25] laryn commented on #37
Cross-posted in the forum:

[2019-12-16 11:39] sternhagel commented on #43
@laryn I can confirm this is fixed in the current `entityplus` branch, when patching the "Entity Plus" module with said PR.

However, there's a new PHP notice I didn't get before:

[2019-12-16 11:47] sternhagel commented on #38
@laryn Thanks very much, with the latest commits (and the PR in "Entity Plus") the `entityplus` branch works with Feeds and the "Paragraphs Mapper" module.

There are still some warnings and errors filling up the error log though - but they're not generated by the "Paragraphs" module, so I think I shouldn't post them here.

[2019-12-16 12:04] sternhagel commented on #31
@laryn Tested this issue as well with `entityplus` branch and PR on "Entity Plus" module - works perfectly!

[2019-12-16 17:22] laryn commented on #43
@sternhagel Good catch. Can you try this:
https://github.com/backdrop-contrib/paragraphs/commit/a5d2353d2eb57824c45762af0a4c30d5726d2a36

[2019-12-16 20:21] #32 closed

[2019-12-17 09:21] sternhagel commented on #43
@laryn Great! That commit fixes the PHP notice.

[2019-12-17 09:28] sternhagel commented on #31
After more testing I got the following PHP notice after reverting a node to any revision - it's not coming from Paragraphs module directly, but it's probably related:

[2019-12-17 13:07] laryn opened #44 "PHP notice: Undefined property: ParagraphsItemEntity::$original in file_field_update()"
_Originally posted by @sternhagel in https://github.com/backdrop-contrib/paragraphs/issues/31#issuecomment-566458418_

After testing I broke this into its own issue since it happens upon any save or update, whether revisions are involved or not.

[2019-12-17 13:08] laryn commented on #31
@sternhagel I broke that last one out into a separate issue since it seems to happen more broadly on save/updating an entity that has a Paragraphs file field attached.

[2019-12-17 13:32] laryn commented on #44
We may need to [debug these lines further](https://github.com/backdrop/backdrop/blob/1.x/core/modules/file/file.field.inc#L266-L279) to see what the issue is with what the code expects and what Paragraphs provides.

[2019-12-18 02:01] laryn opened #45 "Tests need tweaking"
The tests have not been worked on, to my knowledge.

[2019-12-18 05:28] laryn opened #46 "Convert Paragraphs to CMI"
Do we need to more thoroughly convert Paragraphs to CMI? I see that there are database tables for `paragraphs_bundle`, `paragraphs_item`, etc. which may need to be converted to CMI [in a similar way to what Nodes have](https://github.com/backdrop/backdrop-issues/issues/171) (e.g. `node.type.page.json`). (Related: [convert node types to CMI](https://github.com/backdrop/backdrop/blob/1.x/core/module

[2020-01-16 17:08] laryn opened #47 "Match submenus"
The "Paragraph type" submenu should more closely match the "Content type" submenu (e.g. add Paragraph types with child menus for Display, etc.)

![Screen Shot 2020-01-16 at 11 05 48 AM](https://user-images.githubusercontent.com/871421/72546409-57cfd980-3850-11ea-9fe8-2517349eca2e.jpg)

![Screen Shot 2020-01-16 at 11 05 56 AM](https://user-images.githubusercontent.com/871421/72546415-5b636080-3850-

[2020-02-07 23:44] bradbulger commented on #38
I'm getting a fatal error updating a node with a multivalue paragraphs field, where it is trying to insert a row into paragraphs_item_revision with the existing item's current revision_id (and so an integrity constraint violation). Could that be related to this issue?

[2020-02-08 00:39] bradbulger commented on #31
I tried using the entityplus branch. That gave me fatal errors until I also patched entity_plus for some unfixed bugs. Having done that, I was able to save a new revision of the node.

What are the obstacles to getting these modules fixed? Do tests need to be written? Do we need to resolve the issue of entity_plus vs core?

[2020-02-08 02:19] laryn commented on #31
Did you use the PR I linked for entity plus?
I think @docwilmot was open to making me a maintainer in entity plus, at which point I will merge that PR and be clear to make a new release here.

If you didn't use the PR on entity plus, did you have additional changes or patches to add?

[2020-02-08 03:05] bradbulger commented on #31
I ended up using the PR and then read more carefully your note telling us to do that, d'oh. So I think I was on the configuration you were aiming at - the entityplus branch of paragraphs + the entity_plus pull request 16. The errors on saving a node with "new revisions by default" enabled went away. I didn't try anything more extensive than that.

[2020-02-08 13:52] PepeMty commented on #38
Hey there.
I just updated my core from BD 1.13.5 to 1.14.0 and got this exact error.
Any advice on this issue...?

[2020-02-09 21:22] laryn commented on #38
@sternhagel @bradbulger @PepeMty I just took over maintenance of the Entity Plus module and am going to make a dependency on it from Paragraphs. Please install or update your Entity Plus to the latest version (just released) and **while using the `entityplus` branch of Paragraphs** please test. Would appreciate report back as to whether everything looks good. If so I'll make a new Paragraphs relea

[2020-02-10 20:37] bradbulger commented on #38
That's the combination I tried for #31 and saving the node with the content type set to create new revisions by default worked. I'll restore that setup and try out some other actions.

[2020-02-10 20:56] PepeMty commented on #38
@laryn
Wow...! Seems that that did the trick.
Need to make a more thorough checkout, but I don't have any more error messages.
Thanks again.
Jose

[2020-02-11 10:53] sternhagel commented on #38
@laryn That's great! I've tested the new version, and I can't reproduce any errors related to this module.
I'll do more testing and post any issues here...

[2020-02-11 16:05] laryn opened #48 "Add dependency on Entity Plus"
Removing the EMW dependency ended up causing a bunch of loose ends that nobody seems to have time to comb through. I'm planning to add a dependency on Entity Plus at this point which seems to solve a handful of issues in the queue and will make things simpler for me.

The biggest issue will be figuring out how to introduce a dependency when many people already have the module installed. How can we

[2020-02-11 16:06] laryn commented on #1
Closing this in light of https://github.com/backdrop-contrib/paragraphs/issues/48

[2020-02-11 16:06] #1 closed

[2020-02-11 16:45] docwilmot commented on #48
Would be good to summarize the loose ends to see if we can work on keeping this light, without EP getting involved. I'm willing to help get that done in the next few days.

[2020-02-11 17:32] laryn commented on #48
@docwilmot These "has PR" issues are all solved if I add Entity Plus (currently the `entityplus` branch of Paragraphs):

 - https://github.com/backdrop-contrib/paragraphs/issues?q=is%3Aissue+is%3Aopen+label%3A%22has+pr%22

I'm not sure what it would take to rework this module to solve all of those without it.

[2020-02-11 18:42] bradbulger commented on #31
Running the entityplus branch with the 1.0.4 release of entity_plus, I am able to add and remove paragraphs and save the node with revisions enabled, without error. Using the diff module I'm able to see differences in the paragraphs for the node between revisions.

[2020-02-28 13:29] laryn commented on #48
So in early testing, it looks like upgrading Paragraphs to a version that is dependent on Entity Plus (if you don't have Entity Plus installed) crashes any page that has a Paragraph on it (as expected: `Error: Class 'ParagraphsItemController' not found `). The admin pages still work, and Entity Plus can be installed/enabled through the UI if you navigate to the admin page after the fatal error. No

[2020-02-28 23:57] herbdool commented on #48
Maybe some warning can be added to the install file. It might help people find out what is wrong.

[2020-02-29 01:54] klonos commented on #48
Actually this would be a great opportunity to test how the Project Installer/Updater behaves when dependencies are introduced (if it is decided to introduce the dependency after all that is).

...I would expect the update to show as available, but denoting that there is a missing dependency. When the update proceeds, I would expect any dependencies to be downloaded and installed automatically.

[2020-03-06 05:39] laryn commented on #48
So I tested as follows:

- Downloaded an earlier version of Manual Crop and edited out the dependency lines in the `.info` file.
- Installed and enabled it
- Did an upgrade via the Project Installer to the most recent version (which has dependencies in the `.info` file)

On the update step it halted and indicated dependencies weren't met:
![Screen Shot 2020-03-05 at 11 36 37 PM](https://user-image

[2020-03-06 10:42] herbdool commented on #48
That's a smart approach. Looks like it works then.

[2020-03-06 13:18] laryn commented on #48
It works, kind of. Ideally the requirements check would happen before it replaces code (right now it happens after it replaces code but before it tries any potential database updates). But this may be the best we can do.

@klonos Yes, ☝️ would be ideal!

[2020-03-06 13:25] laryn commented on #26
@olafgrabienski Another one that is solved by the `entityplus` branch, I think. Can you verify? That branch adds a dependency on "Entity Plus" and ends up solving a bunch of these issues.

[2020-03-06 17:45] #31 closed

[2020-03-06 17:45] #37 closed

[2020-03-06 17:45] #38 closed

[2020-03-06 17:45] #43 closed

[2020-03-06 17:45] #48 closed

[2020-03-06 23:38] olafgrabienski commented on #26
@laryn Thanks for coming back to this issue! I'm on a vacation currently, will test the fix when I'm back home.

[2020-03-07 05:42] laryn opened #50 "Schema version is incorrect"
The Drupal 7 update hooks were left in for the initial release, causing a problem with the schema version. This results in the Backdrop update hooks not firing.

[2020-03-07 05:44] laryn opened #51 "Merge in upstream changes"
Changes from Drupal 7 should be merged in.

[2020-03-07 05:46] laryn commented on #51
I'd love some folks that use Paragraphs to do some testing with this PR before I include it in a release if possible. I tried to merge in all the changes from Drupal 7 into the latest version, **which has a dependency on Entity Plus**.

[2020-03-12 16:56] #50 closed

[2020-03-12 16:56] #51 closed

[2020-03-18 18:34] jenlampton opened #53 "Upgrade from Drupal 7 field collection into paragraphs"
I'm interested in working on an upgrade path from Drupal 7 field collection. Is anyone else working on this, and if so, can we collaborate or would others be willing to help me test?

[2020-03-18 19:07] laryn commented on #53
I haven't heard of anyone working on this, but I'd be happy to do some basic testing. I haven't used Field Collection so would probably only be able to test a basic set up / upgrade.

[2020-03-21 16:24] serundeputy opened #54 "Scheduling a node for publication in the future fails if it has a paragraph field on it."
When scheduling a node w/ a paragraphs field to be published in the future it fails:

[code]

The function entity_revision_load was provided by the entity module in D7. In Backdrop the function is in entity_plus and therefore is namespaced as entity_plus_revision_load.

[2020-03-21 16:26] serundeputy commented on #54
I went to file a PR for this, but it is already fixed in `1.x-1.x` https://github.com/backdrop-contrib/paragraphs/blob/1.x-1.x/paragraphs.module#L61, however the fix is not in the latest release `1.x-1.0.1`

Making a new release would fix this issue for me.

[2020-03-21 17:30] serundeputy opened #55 "Paragraph field `REMOVE` button is blue but op is destructive."
I think the paragraphs field button to `REMOVE` and item should be red to indicate destructive op.

What it is:

![image](https://user-images.githubusercontent.com/6763671/77232549-073e6a80-6b78-11ea-86f5-0b878ff4f8a7.png)

What I want:

![image](https://user-images.githubusercontent.com/6763671/77232565-2210df00-6b78-11ea-9b33-8fe95317acf1.png)

----

PR: https://github.com/backdrop-contrib/parag

[2020-03-21 17:32] serundeputy commented on #55
filed PR at https://github.com/backdrop-contrib/paragraphs/pull/56

[2020-03-31 19:58] laryn commented on #54
Thanks @serundeputy -- I'm going to mark as a duplicate of https://github.com/backdrop-contrib/paragraphs/issues/33

As you noted this should be fixed in the `1.x-1.x` and I'm hoping to make a new release soon. Just hoping for another kick or two of the tires from users.

[2020-03-31 19:58] #54 closed

[2020-03-31 20:11] laryn opened #57 "When configuring a field on a Paragraph type, delete doesn't work"
In `1.x-1.x`:

When configuring a field on a Paragraph type, the "Delete field" button doesn't work:

![Screen Shot 2020-03-31 at 3 09 33 PM](https://user-images.githubusercontent.com/871421/78070611-b5f55e80-7361-11ea-8690-8d52d05aa118.jpg)

However the dropdown operation button does seem to work on the Paragraph Type's "Manage fields" page:

![Screen Shot 2020-03-31 at 3 11 00 PM](https://user-i

[2020-04-02 21:13] laryn commented on #57
This appears to be the case in the current release as well as in the latest `1.x-1.x` version.

Example:

 - Configuring a field on a Paragraph bundle/type. URL is:
**admin/structure/paragraphs/image/fields/field_image**
 - Clicking "Delete field" tries to load this URL:
**/admin/structure/types/manage/image/fields/field_image/delete**
 - Using the Operations drop button on the type/bundle's "Mana

[2020-04-04 13:01] laryn commented on #57
Dug enough to find the `field_ui_field_edit_form` and `field_ui_field_edit_form_delete_submit` functions but no code yet.

Particularly this line in the latter:

[code]

[2020-04-07 14:46] laryn opened #58 "`entity_save` issue"
[Reported on the Forum](https://forum.backdropcms.org/forum/creation-multiple-paragraphs-causes-blank-fields?page=0%2C0#comment-1957) by @fjeder:

[2020-04-07 14:48] laryn opened #59 "views_handler_relationship issue"
[Reported on the Forum](https://forum.backdropcms.org/forum/creation-multiple-paragraphs-causes-blank-fields?page=0%2C0#comment-1957) by @fjeder:

[2020-04-07 15:04] laryn commented on #59
This is due to recent changes in the D7 version (adding "type hinting" in the function declaration).

Ideally this type hinting should be added/fixed in Views as well -- I'll file an issue to see whether that is something that might happen relatively soon, otherwise we can follow [D7 Paragraph's lead](https://www.drupal.org/project/paragraphs/issues/3099388) and remove the type hinting:

[2020-04-15 22:07] laryn commented on #59
Looks like at the earliest this would be in Backdrop 2.0 so we should revert this for now.

[2020-04-15 22:32] #59 closed

[2020-04-15 22:36] #58 closed

[2020-04-15 22:47] laryn commented on #55
Thanks @serundeputy I also added `danger` to the Confirm Deletion button.

[2020-04-15 22:47] #55 closed

[2020-04-18 14:08] laryn opened #60 "Allow separate modal edit/delete/sort of Paragraph items"
I have been meaning to see if I could figure out how to allow editing of individual Paragraph items via contextual link rather than requiring the entire node to be loaded. (For example, if one item way down the page needs a minor tweak, it would be way simpler to be able to edit that one item rather than load the entire page, scroll down to find that paragraph with everything else around it, poten

[2020-04-20 21:07] laryn opened #61 "Publish/Unpublish option for Paragraphs"
This would be a backport of a feature that is in D8 Paragraphs. There is a patch-in-progress on this issue:
https://www.drupal.org/project/paragraphs/issues/2761469

[2020-04-20 21:12] laryn opened #62 "Move Paragraphs item action buttons to top right in a drop-down style."
This issue is solely for moving the actions on a Paragraphs item into the top right in a drop-down button style (though not necessarily a literal dropdown button). The D7 issue this started from is below, but any additional aspects desired from that D7 issue would need separate issues filed.

--------
This is an issue from the Drupal 7 queue that is marked "Needs Review" and could improve the UI.

[2020-04-20 21:29] laryn commented on #60
This is the `$paragraphs_item` entity as loaded in `paragraphs_form_edit`:
![Screen Shot 2020-04-20 at 4 23 23 PM](https://user-images.githubusercontent.com/871421/79801627-0a1dae00-8324-11ea-9991-a5bcedd92c4c.jpg)

And here's what it looks like in Drupal 7:
![Screen Shot 2020-04-21 at 4 33 35 PM](https://user-images.githubusercontent.com/871421/79916253-09514e80-83ee-11ea-83cc-d132a5bfc784.jpg)

[2020-04-22 00:30] laryn commented on #60
I've made some progress, I think. I would appreciate anyone with more code experience looking over the changes I'm attempting:

https://github.com/backdrop-contrib/paragraphs/tree/contextual_edit

Right now it seems to work for Nodes, and partially for Taxonomy Terms (ie. it allows edit and save but it duplicates the same Paragraph item every time you save it -- something's off on the delta somewh

[2020-04-22 05:22] laryn commented on #60
I think this is functional now. Anyone care to test and/or glance over the code for a quick review?
Tested with Paragraph fields on a node, a taxonomy term, and a user.

When you add the Paragraph field to an entity, this box needs to be checked in order for contextual links to be added:

[2020-04-22 17:36] laryn opened #63 "Modal / separate editing follow up improvements: add/insert"
Follow up to https://github.com/backdrop-contrib/paragraphs/issues/60 could be the ability to:

 - add/insert Paragraphs via contextual link

This patch on the D7 queue could be a starting point:

 - https://www.drupal.org/project/paragraphs/issues/2715833

[2020-04-22 17:37] laryn opened #64 "Separate editing follow up improvements: modal?"
Follow up to https://github.com/backdrop-contrib/paragraphs/issues/60 - is it feasible to have the contextual paragraph links open in a modal (like the "Configure block" modal)? Having the page beneath refresh after a save in one way or another would be important.

[2020-04-22 21:51] #57 closed

[2020-06-01 12:42] guidot commented on #24
I just did a successful `drush dl paragraphs` (1.x-1.0.1). So I guess this is no longer an issue.

[2020-06-01 22:39] olafgrabienski commented on #26
Coming back late to this, sorry! I've tested the current Paragraphs `1.x-1.x` branch (hoping it's the right one - on module page it says, requires Entity Plus) together with Entity Plus 1.x-1.0.5. Strange enough, it doesn't seem to work so far. Here's what I've done:

- Added a Paragraph type with three fields: Title, Youtube-Video, Description
- On Paragraph Display (both Default and Full): Added

[2020-06-03 04:41] #24 closed

[2020-06-03 16:51] laryn commented on #26
@olafgrabienski No, just tested again and it's not working. Reopened.

[2020-06-04 16:36] laryn commented on #64
Maybe the changes in this core PR can provide some insight into how to do a modal popup for a form like this:
https://github.com/backdrop/backdrop/pull/3131/files

[2020-06-05 04:44] jackaponte commented on #31
Any chance of a new release sometime soon? This particular bug is biting me lately! If not I'll try to create a patch for myself soon. :)

[2020-06-05 15:57] laryn commented on #31
@jackaponte Here's a pre-release:
https://github.com/backdrop-contrib/paragraphs/releases/tag/1.x-1.1.0-beta

[2020-06-05 17:50] jackaponte commented on #31
Awesome, thanks so much @laryn!

[2020-06-30 12:52] laryn commented on #14
Hmmm... this issue seems to be back. Could it relate to adding a dependency on Entity Plus somehow?

[2020-06-30 13:10] laryn commented on #14
I think this may be a particular dev site of mine -- I just tried to reproduce on another site and don't see the issue.

[2020-06-30 13:10] #14 closed

[2020-07-01 17:13] laryn opened #65 "Images uploaded into Paragraph WYSIWYG text field disappear"
Reported to me from two different sites now, and sounds very similar to https://github.com/backdrop-contrib/paragraphs/issues/14 but that fix is still included and it was working fine until recently, so it must be something different. **Images uploaded into a WYSIWYG text field within a Paragraph are not marked as permanent / no usage is added so they disappear after a short time when "garbage col

[2020-07-26 10:04] robertgarrigos commented on #28
@laryn I don't think this export() method is ever called. There is not such a method in entity.class (its parent).

[2020-07-26 10:38] robertgarrigos commented on #28
I believe this bug is triggered due to the lack of any hook_config_* functions in paragraphs. Am I right??

[2020-07-26 10:53] robertgarrigos commented on #28
I think this would be fixed by implementing the hook_config_create function (maybe also the update one) which should trigger paragraphs_save_bundle() function, as the only thing missing in the backdrop install is the entry of the bundle in the paragraphs_bundle table in ddbb.

[2020-07-26 12:58] laryn commented on #28
@robertgarrigos Could this also be related to the fact that Paragraph bundles/types haven't (yet) been converted to CMI in the same way that content types were in core?
https://github.com/backdrop-contrib/paragraphs/issues/46

Your concept sounds worth testing -- but I won't have time to create a PR in the near future. If you are able sooner I will definitely test.

[2020-07-27 17:01] robertgarrigos commented on #46
Just created a PR (https://github.com/backdrop-contrib/paragraphs/pull/66) for this.

[2020-07-27 17:03] robertgarrigos commented on #28
Once this PR (https://github.com/backdrop-contrib/paragraphs/pull/66) is merged I will fix this issue, as it does much more sense to have paragraphs bundles as CMI before.

[2020-07-28 17:17] robertgarrigos commented on #65
Sorry, I usually use markdown filter with paragraphs text fields. Never got it. I'll have a look.

[2020-07-29 15:37] #46 closed

[2020-07-29 15:39] laryn commented on #46
This was marked as `2.0` but it is actually quite painless (thanks @robertgarrigos !) so I've merged it in to `1.x`

[2020-07-29 15:40] laryn commented on #28
@robertgarrigos I've merged your bundles -> CMI PR. Thanks for that! Happy to also review any PRs here if/when you get to it.

[2020-08-18 13:45] laryn commented on #14
(Reopened in https://github.com/backdrop-contrib/paragraphs/issues/65)

[2020-08-18 13:49] laryn commented on #65
This is a comment from @herbdool in [a separate thread](https://github.com/backdrop/backdrop-issues/issues/2979#issuecomment-366453755) related to when this was happening in comments:

Perhaps the entity plus class needs to set a bundle? (shot in the dark but worth exploring)

[2020-08-19 14:54] oadaeh commented on #65
@laryn what other modules do you have installed on those sites? How do you have the content type configured that is exhibiting the behavior?
Also, I see that Paragraphs does not require Entity Plus, so I suspect that is not it, but I might be wrong.

[2020-08-19 14:57] oadaeh commented on #65
BTW, I just installed the latest stable version via Drush: 1.x-1.0.1

[2020-08-19 15:11] oadaeh commented on #65
I went through a series of tests on a plain site: 1) with Paragraphs only, 2) adding Entity Plus after Paragraphs was in use, and 3) with Paragraphs and Entity Plus installed together, and all three tests seem to work correctly, so there must be something specific about those sites: the modules that are installed on them, or how they are configured, or something else. It would help to know more ab

[2020-08-19 15:32] laryn commented on #65
@oadaeh Sorry I wasn't more clear on this -- it is a regression from `1.x-1.0.1` that shows up in the latest `1.x-1.x` codebase (which has an Entity Plus dependency).

[2020-08-19 23:13] oadaeh opened #67 "Notice: Undefined variable: destination"
This PHP notice sometimes shows up in the logs when doing things with Paragraphs.

Here's the whole error:

Here is the function in paragraphs.module where it is happening:
[code]
At the end of that last line is the variable ```$destination```, which is not defined in the function.

[2020-08-19 23:15] oadaeh commented on #67
The function probably needs something like ```$destination = backdrop_get_destination();``` before it is used, but I didn't test that to verify.

[2020-08-19 23:20] oadaeh commented on #67
The code was added in this commit:
[code]
For this issue: https://github.com/backdrop-contrib/paragraphs/issues/57

[2020-08-20 14:08] oadaeh commented on #65
@laryn are you also using the 1.x version of Entity Plus, or some tagged version?

In my testing, it looks to me that this behavior started with this commit:
[code]

When I checkout the commit before that one (which uses Entity, and not Entity Plus), the behavior is correct.

[2020-08-20 15:24] laryn commented on #65
@oadaeh
I'm using the latest Entity Plus (1.x-1.0.7). That makes sense with my experience in that it seems like the Entity Plus dependency was introduced at the same time that this issue began. So that seems to have solved a bunch of issues but caused another. It may be an issue in Entity Plus...

[2020-08-20 15:39] oadaeh commented on #65
I just tested it with the Registration module. That module also has a dependency on Entity Plus and also exhibits the same behavior, so the culprit is in fact Entity Plus.

I looked at ParagraphsItemController::save() (which was removed in that commit) and compared it with EntityPlusController::save() & EntityStorageControllerInterface::save(). The ParagraphsItemController::save() method is very n

[2020-08-20 16:26] laryn commented on #65
@oadaeh Thanks for helping me work through this... I didn't do the original port/creation of Entity Plus so don't have a specific answer as to why it is different. Any chance [your fix from way back when](https://github.com/backdrop/backdrop-issues/issues/2979#issuecomment-366455143) might work here in the Entity Plus controller? I'll test it out and report back.

[2020-08-20 16:43] laryn commented on #65
Moving this over to the Entity Plus queue.

[2020-08-20 16:43] #65 closed

[2020-08-20 17:02] laryn commented on #65
FWIW I tried adding this in the EntityPlusController to no avail:

[code]

[2020-08-20 18:42] oadaeh commented on #65
My guess is that it will not fix the problem. I think the two issues are fundamentally different from each other.

[2020-08-24 03:50] ghost commented on #28
I experienced this problem where a Paragraphs bundle wasn't appearing on a new site after importing config. After reading the above, I updated to the latest dev version of this module which has the CMI patch. That allowed the Paragraphs bundle to get exported from the old site, which wasn't happeneing previously.

Then, when I tried importing it to the new site, I got an error about no module owni

[2020-08-24 17:10] laryn commented on #28
Thanks @BWPanda -- one minor comment in the PR.

[2020-08-24 22:50] kelizoliva opened #69 "Possible Ajax issues after adding several paragraphs, cannot select file from server for image field"
For a project, we are trying to use Paragraphs 1.x-1.1.0-beta.

I have not been able to definitively determine the source(s) of this bug, but after adding several paragraphs to a page and saving, editing the content again to add more paragraph items has some very unpredictable issues that might relate to Ajax, but might not (the issues are really bizarre and not producing useful errors in the logs

[2020-08-24 23:08] kelizoliva commented on #69
I was overlooking an alert in the console every time I looked at it for whatever reason. I blame the pandemic. Yeah.

So here is the alert:

`[Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience.`

At first it seemed benign because it does show up even for successful requests, but then I searched on the warning an

[2020-08-24 23:22] ghost commented on #28
@laryn Cool, PR updated.

[2020-08-24 23:42] kelizoliva commented on #69
I also see that the modal is a wip on [this issue](https://github.com/backdrop/backdrop/pull/3011), so hunting over there now to see if anything of this sort has been documented.

[2020-08-25 14:55] laryn commented on #69
Can't dig into this in depth right now, but do these help you at all?

 - https://www.drupal.org/project/drupal/issues/2643540
 - https://stackoverflow.com/questions/27736186/jquery-has-deprecated-synchronous-xmlhttprequest

I think the PR you link in the previous comment is outdated (a separate PR was merged).

[2020-08-25 17:55] kelizoliva commented on #69
Thanks Laryn! I am just trying to grasp ajax behaviors a bit better. I still have not been able to ascertain the source of the suspected bug we are experiencing, as there are no errors in the console or logs that definitively point to anything that would help explain the modal box not opening. And I am not even sure it necessarily has anything directly to do with this module, vs a core issue with

[2020-08-26 08:20] kelizoliva commented on #26
They mentioned over in the field group thread (which I am sure you saw) that it looks like something at the template level, I am assuming meaning that `paragraphs-item.tpl.php` is not rendering an array of fields for field group to wrap individually.

[2020-09-01 17:04] laryn opened #70 "Use `theme_admin_info` on Paragraph Types screen"
When this gets in to core, we can update the Paragraph Types screen to use the new `theme_admin_info` function and keep it seamless with core Backdrop display style:
https://github.com/backdrop/backdrop-issues/issues/3402#issuecomment-619646859

[2020-09-01 22:06] #28 closed

[2020-09-01 22:07] laryn commented on #28
Thanks @BWPanda !

[2020-09-01 22:10] laryn commented on #67
Thanks @oadaeh !
https://github.com/backdrop-contrib/paragraphs/commit/bd521519447c8fc70655c56857cf20f1320afefb

[2020-09-01 22:10] #67 closed

[2020-09-02 01:17] BWPanda opened #71 "Leftover entity_revision_load() needs updating"
There's still a call to `entity_revision_load()` in `ParagraphsItemEntity.inc` that needs updating to `entity_plus_revision_load()`...

[2020-09-02 01:19] ghost commented on #71
Made a PR: https://github.com/backdrop-contrib/paragraphs/pull/72

[2020-09-02 03:14] #71 closed

[2020-09-02 03:14] laryn commented on #71
Thanks @BWPanda -- it looks like that snuck back in when I merged upstream changes. My bad!

[2020-11-20 15:35] laryn commented on #64
Not quite sure how to add this to a contextual link, but this function seems relevant:
[ajax_command_open_modal_dialog](https://api.backdropcms.org/api/backdrop/core%21includes%21ajax.inc/function/ajax_command_open_modal_dialog/1)

See also:
[dialog-api](https://api.backdropcms.org/change-records/dialog-api)

[2020-11-23 11:52] neessen opened #74 "Database update issue after Paragraphs module update"
I am having a strange problem on one site using the Paragraphs module.
After updating from version 1.x-1.0.1 to 1.x-1.1.0, I am not able to apply the database changes due to the following error:

`Some of the pending updates cannot be applied because their dependencies were not met`

After some debugging I got this error:

`paragraphs module can not be updated. Its schema version is 7101. Updates

[2020-11-23 19:59] laryn commented on #74
@neessen That is interesting because there is no `7101` in the Drupal version (at least not anymore!).

https://git.drupalcode.org/project/paragraphs/-/blob/7.x-1.x/paragraphs.install#L171-183

That said, the earliest versions of this port did not handle the schema versions correctly. Are you comfortable making a slight edit in the `.install` file and trying again (on a dev copy ideally)? Find thi

[2020-11-29 23:40] BWPanda opened #75 "Two Label fields confusing"
![image](https://user-images.githubusercontent.com/2385329/100556713-538d9d00-32f8-11eb-9973-d1350b47d296.png)

I think one should be renamed Administrative Label, or something like that. Same as other places in Backdrop...

[2020-12-03 14:17] neessen commented on #74
Hey @laryn
Thanks for the reply.
Tried the above and the updates were installed succesfully after changing `7102` to `7101`, so it looks like that was the issue :)

[2020-12-03 14:57] laryn commented on #74
Great -- thanks for following up!

[2020-12-03 14:57] #74 closed

[2020-12-21 06:09] alanmels opened #76 "Add links to Paragraphs-related modules in README"
Readme file mentions accordion, but no real example is shown. So I've gone ahead and ported [Paragraphs jQuery UI Accordion](https://github.com/backdrop-contrib/paragraphs_jquery_ui_accordion). Tested with the Paragraphs module, works just as expected. Please reference Paragraphs jQuery UI Accordion in the Readme file

[2020-12-27 17:03] djzwerg opened #77 "Update issue: Undefined variable/Invalid argument"
After updating from 1.0 to 1.1 the following error messages were logged:

[2020-12-29 17:06] laryn commented on #77
@djzwerg Did/do you have any paragraph bundles defined on the site that you were upgrading the module on?

[2020-12-29 17:18] djzwerg commented on #77
@laryn not yet

[2020-12-29 17:26] laryn commented on #77
Okay, I think it is just warning that there were no bundles to upgrade. I'll leave this open for now -- we might as well check to make sure there is a result before trying to run the upgrade!

I don't think this will cause any problems for you since you can no paragraph types defined.

[2020-12-29 18:37] #76 closed

[2020-12-29 18:37] laryn commented on #76
Thanks @alanmels !

[2020-12-29 18:40] #77 closed

[2020-12-29 20:18] #75 closed

[2020-12-29 20:18] laryn commented on #75
This came in with https://www.drupal.org/project/paragraphs/issues/2568601

I've made a few adjustments to sync up with Backdrop's interface:

- aligned the first field/description with the Content type form (e.g. "Name")
- aligned the label with the language of the new block "Admin label" field
- adjusted "bundle" to "Paragraph type" to stay consistent in the UI
- adjusted the Paragraphs admin sc

[2021-01-07 18:41] laryn commented on #60
Playing around with an alternate implementation that uses dropbutton instead of contextual link, so there are two separate branches related to this issue:

 - https://github.com/backdrop-contrib/paragraphs/tree/issue-60-dropbutton (Dropbuttons)
 - https://github.com/backdrop-contrib/paragraphs/tree/issue-60 (Contextual links)

[2021-01-12 21:45] laryn commented on #64
I'm liking how it's starting to take shape with dropbuttons instead of contextual links in https://github.com/backdrop-contrib/paragraphs/tree/issue-60-dropbutton

![paragraphs-separate-edit-small](https://user-images.githubusercontent.com/871421/104378322-6dbcbc80-54ed-11eb-9245-2d37d9775cf6.gif)

[2021-02-07 13:56] laryn commented on #47
Related issue in D7 queue:

 - https://www.drupal.org/project/paragraphs/issues/2723257

[2021-03-12 21:04] laryn opened #78 "Concept: Paragraph Blocks"
As mentioned in the discussion in Backdrop LIVE today, a concept for discussion:

- Add a checkbox to the Paragraph type configuration page that says "Allow this Paragraph Type to be added as a Block on Layouts"
- Create a new block type automatically with the fields defined in the Paragraph Type

[2021-03-12 21:10] laryn opened #79 "Concept: Learn from Bricks"
As mentioned in the discussion in Backdrop LIVE today, a concept for discussion:

- Learn from the Drupal Bricks module and incorporate some of the UI in places within Paragraphs

cc: @philsward

[2021-03-12 21:14] laryn opened #80 "Concept: Paragraphs Packs or Prefab Paragraphs or Paragraphs Recipes"
As mentioned in the discussion in Backdrop LIVE today, a concept for discussion:

 - Some way to install/preconfigure various Paragraphs Types in a very easy way
 - Perhaps if core "Recipes" get off the ground we can tap into that functionality, or create a submodule that allows this for folks who want it (allowing them to select the Paragraphs Types that they want to "install")

What types of Par

[2021-03-17 17:48] bobchristenson commented on #53
I've used both of those modules pretty heavily in Drupal 7 and I'm not sure Field Collection and Paragraphs serve the same purpose.

Field collection is more like a field that contains multiple fields.  It really only has a single way to display that field in the end.  It's sorta like a 'grouping' of fields.

Paragraphs on the other hand, while it's also a 'grouping of fields', is intended to have

[2021-03-17 18:38] laryn commented on #53
I suppose this (from the [FC module page](https://www.drupal.org/project/field_collection)) is what prompted the original idea:

There exists a FC -> Multifield module already, apparently:

 - https://www.drupal.org/project/fc2m

[2021-03-18 01:38] jenlampton commented on #53
Of course, it someone really wanted field_collection for Backdrop, I imagine it could be ported without too much trouble.

[2021-03-18 13:44] olafgrabienski commented on #60
I've started to play around with the Dropbutton branch, looks really good at first sight. I like this approach more than the Contextual links approach.

[2021-03-18 13:56] olafgrabienski commented on #60
Editing a Paragraph using Dropbuttons, I've encountered a strange behavior:

Upon Edit of a Paragraph, the background color and the Account menu in the header section of the page change their appearance. Looks like the styles are coming from the admin theme. Not sure if it's intended but that's not my issue. The issue is that this appearance remains after saving the Paragraph. (When I reload the p

[2021-03-18 15:08] laryn opened #81 "Core issues related to separate editing modals"
The following core issues show up in the separate editing modals:

- https://github.com/backdrop/backdrop-issues/issues/4863 - System dialog seems hard-coded to admin theme's CSS (also noted by @olafgrabienski in https://github.com/backdrop-contrib/paragraphs/issues/60#issuecomment-801949314)
- https://github.com/backdrop/backdrop-issues/issues/4342 - Modal popups jump to the top of the page when

[2021-03-18 15:15] laryn commented on #60
@olafgrabienski I'm going to move that into a separate issue related to core bugs: https://github.com/backdrop-contrib/paragraphs/issues/81

[2021-03-23 15:16] olafgrabienski commented on #80
Great idea, could be very helpful as setting up paragraph types is a lot of repetitive work.

Regarding the concept, have you had a look at https://www.drupal.org/project/paragraphs_pack and https://paragraphs.site-showcase.com/toolkit/paragraphs-pack?

To make a start, here are my first suggestions for Paragraphs types:

- Long text (CKEditor)
- Image
- Long text (CKEditor), Image, Setting for im

[2021-04-07 15:55] laryn opened #82 "D7 Upgrades: Can we automatically enable requirements in some cases?"
See:

 - https://github.com/backdrop-contrib/entity_plus/issues/47

[2021-05-28 19:10] laryn opened #83 "Label attribute not declared"
The warning above came while testing Reference and seems to be referring to the "entity keys" declaration.

[2021-05-28 19:22] #83 closed

[2021-05-31 08:51] djzwerg opened #84 "CKEditor not working in long text fields"
I'm not sure whether this is a bug - when I'm using the long text field it doesn't show the CKEditor (the long text field with summary works):

![grafik](https://user-images.githubusercontent.com/49948628/120167543-287bfb80-c1fe-11eb-9237-1f5c66591d08.png)

[2021-05-31 11:58] djzwerg opened #85 "How to style fields within paragraph bundles?"
I want to style the output of [field_title] to a heading (h2) so I tried this:

- Create file paragraphs-item-text_formatiert.tpl.php from paraphs/module directory and put it into [mytheme]/templates folder
- Inside the php file I tried

[code]
but it doesn't work. Maybe it is a duplicate of https://github.com/backdrop-contrib/paragraphs/issues/37?

[2021-05-31 12:03] djzwerg commented on #85
Oh just my fault. I missed the second "-" in the filename (paragraphs-item**--**text_formatiert.tpl.php)

[2021-05-31 12:03] #85 closed

[2021-05-31 21:13] laryn commented on #85
@djzwerg Glad you got it sorted. You can also use Field Wrappers for a non-code solution.

[2021-06-02 20:39] laryn commented on #84
Can you provide steps to reproduce this? I haven't noticed it in my usage.

[2021-06-18 22:27] djzwerg commented on #84
Sorry @laryn for the delay. After a few tests it works as designed. I don't know what causes my issue but not it's working on different sites.

[2021-06-18 22:27] #84 closed

[2021-07-30 16:21] laryn opened #86 "Use messages styling on warning"
The warning here might be better using Backdrop-styling warning message:

![Screen Shot 2021-07-30 at 11 16 40 AM](https://user-images.githubusercontent.com/871421/127682227-29e10d6f-1cee-4ea0-bd27-6bed9b742b76.jpg)

Example mockup:

![Screen Shot 2021-07-30 at 11 20 38 AM](https://user-images.githubusercontent.com/871421/127682436-a5159742-4c9b-4287-ab4f-7a671fa39ca2.jpg)

[2021-08-24 16:51] laryn opened #87 "Entity Cache is in core"
The module should be checked over for `entitycache` references since Entity Cache is now in core and doesn't require a separate module.

 - https://docs.backdropcms.org/change-records/entity-caching-added-to-core

@hosef on Zulip:

[2021-08-24 18:16] #87 closed

[2021-08-24 18:20] laryn opened #88 "Implement Github actions for phpcs"
See this thread in Zulip:

 - https://backdrop.zulipchat.com/#narrow/stream/218635-Backdrop/topic/Travis.20tests.20for.20modules.20vs.2E.20Github.20actions

See @indigoxela's work in the `.github` folder of `i18n`:

 - https://github.com/backdrop-contrib/i18n/tree/1.x-1.x/.github/workflows

If/when tests get some love, we can also implement the bits above for functional tests... 😓

[2021-08-24 18:26] #88 closed

[2021-08-24 18:31] laryn opened #89 "Coding Standards"
Now that Github actions run coding standards, the first report indicates that there are some improvements needed... and also potentially some `.inc` files that need to be excluded from the tests.

[code]

[2021-08-24 18:59] laryn opened #90 "Remove Panelizer and Features elements"
Code cleanup -- we can remove Panelizer and Features code because they do nothing currently. If ever needed they can be modified accordingly and re-added.

[2021-08-24 18:59] #89 closed

[2021-08-24 19:18] #90 closed

[2021-08-30 12:38] neessen opened #91 "Error when overwriting paragraphs-item.tpl.php"
I have Paragraphs 1.x-1.1.0 and Entity Plus 1.x-1.0.13 installed, and getting an error when copying paragraphs-item.tpl.php from paragraphs module folder to the templates folder of the theme:

[code]

[2021-08-30 13:34] laryn commented on #91
Ah, maybe you can help me track this down, @neessen! I have this happening on one site only and haven't been able to figure out what is causing it. See here for a hack/workaround:

 - https://github.com/backdrop-contrib/entity_plus/issues/28

Maybe we can determine the conditions that cause this and fix in either Paragraphs or Entity Plus...

[2021-08-31 08:11] neessen commented on #91
Hey Laryn
Sure I will try :)

I have printet the paragraphs field in the node.tpl like this:

`<?php print render($content['field_paragraphs']); ?>`

As soon as I create the file "paragraphs-item.tpl.php" in the templates folder with the default markup it generates the error mentioned above. Content of file:
[code]
The error is not present when this file is not in the templates folder.

Going to t

[2021-09-02 10:50] neessen commented on #91
I have been looking at this some more, and it seems like it is the "printing twice" part that is causing all the issues.
I looked at the `template_preprocess_entity_plus(&$variables)` function in entity_plus.theme.inc, and that hook is being called twice which is causing all the issues. I dumped the `$variables` variable and it prints two arrays for each paragraph.
I have pasted a simplified versi

[2021-09-09 17:27] neessen commented on #91
Hey @laryn
Did you have a chance to look at this? :)

[2021-09-11 06:12] jenlampton commented on #91
I'm experiencing the same problem. @neessen thank you for the temporary fix!  I'm also seeing the entity_plus theme markup wrapping my paragraph item twice:

<img width="907" alt="Screen Shot 2021-09-10 at 11 10 59 PM" src="https://user-images.githubusercontent.com/397895/132938337-17e8d3a2-125a-4045-a169-82d12610eb24.png">

This is particularly problematic if, for example, your paragraph template

[2021-09-12 01:37] jenlampton commented on #91
Okay, so I think I'm getting closer. At the time `template_preprocess_paragraphs_item()` is called, the paragraph has already been rendered. The rendered result (using the paragraph item template) has been stashed in the `#children` property of the `$content` array, and `#printed` has been set to true.

In spite of that, calling `render()` on this `$content` array still renders it again, but it al

[2021-09-12 12:41] laryn commented on #91
@neessen @jenlampton  Sorry, I haven't been able to get back to this yet. Thanks to you both for digging around in it!

[2021-09-13 00:01] jenlampton commented on #91
Bingo! I've filed a PR that fixes the double template problem on my site :)

I think the problem was that we were telling the paragraph item to use the `paragraph_item` template as a theme wrapper, but it already renders using that template due to `entity_plus` changing the `theme_hook_suggestions` in `template_preprocess_entity_plus()`.

I don't like how `entity_plus` is both providing theme outp

[2021-09-13 04:01] laryn commented on #91
@jenlampton I can confirm on a quick test that this seems to solve it on the site I was seeing this on, with no ill-effects noticed! Amazing.

@neessen Can you confirm as well?

[2021-09-13 14:11] laryn commented on #91
@jenlampton, I'm a maintainer on Entity Plus mainly because I needed to get a few fixes merged to make some other modules functional. My sense is there have been some gaps that need polish in a variety of places, so "as intended" may be used quite loosely here. Please feel free to open an issue in Entity Plus, however. There has been some traction on issues from others that are using it and it may

[2021-09-13 16:29] laryn opened #93 "Use `theme_label_machine_name()` to theme Paragraphs type admin page"
Now that https://github.com/backdrop/backdrop-issues/issues/3402 is in core as of 1.20 we should use that new `theme_label_machine_name()` function to theme the main Paragraphs admin page.

This concept was added in a [testing branch](https://github.com/backdrop-contrib/paragraphs/issues/23#issuecomment-442881152) but never merged. It should be broken out to its own issue at this point I think.

[2021-09-16 08:15] neessen commented on #91
@jenlampton  I can confirm it works as well :)
I had to do a little work because some variables that were no longer available in paragraphs-item.tpl.php like $content['bundle'], but I managed to work around that, so yeah it looks like it is working..
Will this be included in next paragraph release then?

Thank you for your help on this @jenlampton and @laryn, I appreciate it :)

[2021-09-16 14:04] laryn commented on #91
Thanks @jenlampton for the work to track this down and for the PR that fixes it! Thanks @neessen for reporting and helping to test. I've merged https://github.com/backdrop-contrib/paragraphs/pull/92 into 1.x so it will be in the next release of Paragraphs.

[2021-10-11 21:10] laryn commented on #81
I think these are at a point where it's safe to close this issue.

[2021-10-11 21:10] #81 closed

[2021-10-12 15:31] laryn commented on #91
@jenlampton or @neessen I was testing this further prior to formal release and there may be an issue (or a further modification needed). Are either of you using `template_preprocess_paragraphs_item` on any sites that use Paragraphs? For example, the `Classy Paragraphs` module uses this hook to add classes to individual Paragraphs items. It seems that this fix may knock out the capability to use th

[2021-10-12 22:25] jenlampton commented on #91
I think I tried to use that function and failed, but then assumed that it wasn't supposed to work. I should have looked more closely!

[2021-10-13 12:21] laryn commented on #70
Closing in favour of https://github.com/backdrop-contrib/paragraphs/issues/93

[2021-10-13 21:19] #93 closed

[2021-10-14 12:52] neessen commented on #91
@laryn yes I have used that hook on other sites, but not the one where I had this issue, so I didn't realise that it could have any impact. Have you had a chance to investigate why it has impact on that hook?

[2021-10-15 01:32] laryn commented on #64
Closing as this is now part of https://github.com/backdrop-contrib/paragraphs/issues/60

[2021-10-15 01:32] #64 closed

[2021-10-15 14:44] laryn commented on #4
Tracking core issue: https://github.com/backdrop/backdrop-issues/issues/5266

[2021-10-15 17:25] laryn commented on #61
Early PR based on patch in the D7 queue from @Stolkmachine, @rikvd, @Majdi, and @interdruper.

As noted by @donaldwbabcock in that queue:

- the "Published" checkbox sits outside the "This Paragraph has been removed..." warning when removing a Paragraphs item. It should be hidden as well at that point.
- Some kind of visual display indicating unpublished (besides the checkbox) would be good.
- Mig

[2021-10-15 21:48] laryn commented on #63
I'm also going to close this for now as basic "Add new" functionality should be included in https://github.com/backdrop-contrib/paragraphs/issues/60 at this point. We can add new follow up issues for tweaks and fixes as needed.

[2021-10-15 21:48] #63 closed

[2021-10-17 22:12] #47 closed

[2021-10-18 19:45] laryn commented on #61
I think I like this better as a button rather than a checkbox, which solves a few of the issues above in one swoop.

![unpublish-paragraph](https://user-images.githubusercontent.com/871421/137796671-188f5e16-657d-46de-a3a9-03a3dc1be65c.png)

[2021-10-18 20:13] #61 closed

[2021-10-19 16:58] laryn commented on #91
@neessen Not yet. But we'll need to figure it out (either in Paragraphs or Entity Plus) before the next release.

[2021-10-21 12:02] laryn commented on #80
If you start watching the video here at about the twelve minute mark (or just watch the whole thing if interested :smile:) you can see a demo of a work-in-progress on this front:

 - https://stuartcenter.org/updates/cedc-whats-coming-next-paragraphs-backdrop-cms

Right now it's fairly Paragraphs specific and I haven't released anything publicly because it's a little rough around the edges yet and

[2021-10-21 19:46] #60 closed

[2021-10-21 19:47] laryn commented on #60
I've merged this in for the next alpha pre-release. Open new issues around this feature as you test!

[2021-10-21 19:57] laryn commented on #91
@neessen @jenlampton FYI I've added this line back in the alpha1 pre-release, realizing it's not a solution yet. Before we get to a full release we'll have to have solved this either here or in Entity Plus. But I want people to be able to start testing some of the other changes and I think a pre-release may make that easier for some folks.

https://github.com/backdrop-contrib/paragraphs/blob/1.x-1

[2021-10-21 20:21] laryn commented on #91
Interestingly, I realized I had just copied an older version of `paragraphs-item.tpl.php` with no changes on the site that I see this issue happening. I tried updating that to the latest version but still got this error. I deleted it completely and the site has no error. (Note that I do still have individualized templates, such as `paragraphs-item--full-width-image.tpl.php`, and they work fine).

[2021-10-22 10:56] olafgrabienski commented on #80
Definitely! Looks promising, thanks for working on this.

[2021-10-22 18:37] laryn opened #99 "Don't require font awesome to see the icons in the dropbutton list"
When modal administration is turned on for a Paragraphs field the dropbutton menu shows icons if Font Awesome is installed. It would be good to show them even if Font Awesome isn't available, perhaps by including the SVGs from font awesome and using them directly

![paragraphs-dropbutton](https://user-images.githubusercontent.com/871421/138508080-e397edd3-828f-49e6-b598-7272ccb5343e.png)

[2021-10-22 19:15] Retsell opened #100 "Feature request: Check if there is a visible Paragraphs item before displaying a Paragraphs field"
If the paragraph title is set to be displayed for a paragraph, the title remains displayed after the paragraph is unpublished. The title should disappear too.  (Using 1.x-1.2.0-alpha1)

[2021-10-22 19:33] laryn commented on #100
@Retsell Can you add a screenshot or slightly more detail? This also may depend on how we handle unpublished Paragraphs items on the front end -- @klonos suggests keeping them visible for admins but with a background that makes it clear they are unpublished (which would allow re-publishing from the front end as well).

[2021-10-22 19:56] Retsell commented on #100
@klonos Here's what I tried: (I'm new to paragraphs, so maybe it's not supposed to be used like this?) I thought it would be great for making a paragraph available on my site that is dedicated to vintage motor yachts, that would contain for-sale information for those boats that are available.  I would also like to turn the paragraph off once sold, but retain the information for later use if needed

[2021-10-22 20:00] laryn commented on #100
Is "For Sale Information" the label/name of the entire Paragraphs field? (If so, is it accurate to say your request is to remove/unpublish the entire field if there are no published Paragraphs items within it?)

Showing unpublished Paragraphs items would be only for those with administrative access, not the general public.

[2021-10-22 21:03] Retsell commented on #100
In the image below, on the left the For Sale Info paragraph is published. On the right I have Unpublished it, so the text and photo no longer appear, but the title still does. The paragraph is gone, shouldn't the title be hidden as well?

![paragraphs](https://user-images.githubusercontent.com/45413342/138522406-29363e72-f853-4ec5-8b97-cc3f18052988.png)

[2021-10-26 13:48] laryn commented on #100
@Retsell The issue is that the field label is for the entire field, and the unpublishing option is for the individual Paragraphs items within the field (of which there may be more than one on a multivalue field).

I'll leave this open to explore at some point if it's possible to have a check to make sure a Paragraphs field has at least one visible item before displaying the field at all. In the me

[2021-10-26 13:52] laryn opened #102 "Show unpublished Paragraphs items on front end for administrators?"
At Backdrop LIVE, @klonos suggested showing unpublished paragraphs items on the front end for administrators (with some kind of visual distinction to show that they are unpublished). This would allow republishing from the front end.

The downside is that it muddies up the view on the front end, making it harder for an administrator to see what the page actually looks like without logging out or op

[2021-10-26 15:10] Retsell commented on #100
@laryn Thanks for looking into it. I hadn’t thought about the multivalue field aspect. The work around is easy enough in my case.

[2021-10-26 18:52] laryn opened #103 "Paragraphs Scheduler?"
Someone just asked me if they could have a section of the page update autmatically at certain dates. With the ability to unpublish Paragraphs items, the possibility of scheduling a Paragraphs item to publish or unpublish seems potentially plausible (allowing multiple versions of a Paragraphs item to be created, with some unpublished but scheduled to publish, and one published but simultaneously sc

[2021-10-27 14:58] laryn commented on #79
I have never used Bricks but if anyone who has wants to jot some notes/screenshots about what they think Paragraphs could potentially learn, I'd be happy to read those.

[2021-10-27 15:04] laryn commented on #69
Is this still an issue @kelizoliva -- and if so do you have STR on a vanilla site with Paragraphs installed?

[2021-10-27 15:07] laryn commented on #62
During Backdrop LIVE recently @quicksketch also "thought out loud" about the new modal administration being used in the back end to eliminate the inline forms that get messy so quickly -- just display a non-editable "preview" slice of each Paragraphs item (which can be sorted) and an associated "Edit" button that loads the edit fields in a modal.

[2021-10-29 22:09] olafgrabienski commented on #102
Good question! I guess the answer depends on the reason to work with unpublished paragraphs. If I just want to fix a typo later the same day, unpublishing and republishing both on the front end is nice.

Personally, I'd be fine with logging out to see how a page looks for visitors. However, if there were many unpublished paragraphs in a node for a longer period, they'd still occupy a lot of space,

[2021-11-10 15:56] bobchristenson commented on #53
For the reocrd, I think I changed my mind.  I think Paragraphs may be a replacement for field_collection.  I'm working right now to see if I can migrate the data from fc->paragraphs and see if it does everything I need it to!

[2021-11-10 15:59] oadaeh commented on #53
That and the fact that over 22% of D7 sites use Field Collection are the reasons I started it:
- https://github.com/backdrop-ops/contrib/issues/590
- https://github.com/backdrop-contrib/field_collection

It definitely still needs work.

[2021-11-10 16:03] bobchristenson commented on #53
I'm a big fan of field collection...but I'm also a big fan of consolidation.  Since paragraphs has been established in Backdrop already and was deemed the way forward in D8...it makes me wonder if focus should be on determining whether Paragraphs can be truly a 100% replacement (or not). If the answer is 'yes', then maybe time is better spent on a process to convert field collections to paragraphs

[2021-11-10 20:03] jenlampton commented on #53
I know there's a migration path in D7 for field collection to paragraphs.
If your site is already in backdrop, perhaps that can be ported too?

On Wed, Nov 10, 2021, 8:03 AM Bob Christenson ***@***.***>
wrote:

[2021-11-16 19:02] laryn opened #104 "Modal hover style tweaks"
When using modal editing the CSS is replacing the background of the entire Paragraphs item (to show what is about to be edited). This is a little too aggressive and can look quite jarring if the design includes background colors -- it suddenly flashes to grey when hovering. This should be a bit more subtle.

[2021-11-16 19:04] #104 closed

[2021-11-18 14:32] bobchristenson commented on #53
@jenlampton It would be good if you posted any existing migration tools from fc->paragraphs.  When I googled I didn't find anything usable for D7.

[2021-11-18 19:42] jenlampton commented on #53
I did a quick google and also came up empty. :( I'm (almost) certain I found something before. My recollection is that it was a module named fc2p (or something not entirely obvious) but I could be getting confused with something else...  I'll give it a more thorough look when I have some more time.

[2021-11-19 15:04] oadaeh commented on #53
The only one I saw when I was poking around in the last week or two was one for D8 FC->P or D7 FC->D8 P. I did not see one for D7 FC->P, but I think @klonos saw something in some issue comment somewhere.

[2021-11-23 14:26] neessen opened #105 "Scratch Paragraphs in node->field_paragraph after latest update"
Hey

I just updated the paragraphs module to 1.x-1.2.0-alpha1 which gave me an issue. The node->field_paragraphs field now has a paragraph with the value "scratch_paragraph". What is the reason for this?
It gives me some issues because I can no longer check if $node->field_paragraph['und'] is empty or $node->field_paragraph['und'][0] isset.
These are now returning true because of this new scratch_

[2021-11-23 14:48] laryn commented on #105
@neessen Thank you for testing the `alpha1` release! The `scratch_paragraph` value was added as a part of https://github.com/backdrop-contrib/paragraphs/issues/60 which adds new functionality, and the purpose is to "[add] a dummy value to the paragraphs field to make rendering possible". (See below for more on that new functionality if you haven't seen that yet).

Much of the meat of the changes c

[2021-11-24 13:50] neessen commented on #105
Hey Laryn

Nice feature with the Edit modal - I will look into that :)

So just to understand this correctly; The scratch paragraph is only present if no other paragraph is added to the node, is that correct?

[2021-11-24 15:45] laryn commented on #105
:+1:

[2021-12-03 18:40] laryn opened #106 "View method issue"
From @herbdool in [another thread](https://github.com/backdrop/backdrop-issues/issues/1739#issuecomment-985737935):

[2021-12-03 20:22] laryn opened #107 "Multilingual warning"
When adding a language I began to see this:

[2021-12-04 15:46] argiepiano commented on #91
I'm continuing the conversation here, from the related issue #28. My strong suspicion is that #28 and this issue  are closely related and are the result of using `paragraphs-item.tpl.php` both as a theme_wrapper and as as a theme template as reported by @jenlampton in a comment above: https://github.com/backdrop-contrib/paragraphs/issues/91#issuecomment-917737703.

I can confirm that the PR she pr

[2021-12-04 15:54] argiepiano commented on #91
Trying to reproduce the error after applying #92 by following @laryn 's report, but still no warnings or errors. And the html markup is correct, without the nested divs with same classes

[2021-12-04 19:21] argiepiano opened #108 "`paragraphs-item.tpl.php` should use $classes_array rather than $classes"
Entity Plus places all custom entity css classes in the variable $classes_array. The template should use that variable, rather than the more limited $classes variable (which only contains one css class: 'entity-plus').  The $classes_array variable contains css classes `entity-paragraphs-item` and `paragraphs-item-{bundle}`.

This will change the markup from this:
<img width="574" alt="Screen Shot

[2021-12-04 19:52] argiepiano commented on #108
After submitting the PR I realized that you are using $classes to also add the modal css classes in that template. Let's put this issue and PR on hold while I take a look at an alternative proposal.

[2021-12-04 20:05] laryn commented on #108
@argiepiano We can adjust that to use the `$classes_array` as well, perhaps? That feature is still in alpha and hasn't been formally released.

[2021-12-04 20:10] argiepiano commented on #108
I'm going to try a few different things now and will report back.

I have been "bitten" in the past by the fact that Entity Plus does not invoke the template_preprocess_xxx for  custom entity template files, which is, in my view, at the crux of the problems with Paragraphs, and the reason for imperfect solution of using a #theme_wrappers to force a call of template_preprocess_paragraph_item().   I

[2021-12-04 20:36] herbdool commented on #91
Maybe avoid using entity plus version of `view` and use it's build content instead. Or only do that within paragraphs?

[2021-12-04 21:28] argiepiano commented on #91
Success!!! The modal is working fine now, no errors, and the template file is also in the theme folder. I will create a new issue and PR in a few minutes.

Basically what I did:

- Apply PR #92 by @jenlampton (i.e. remove #theme_wrappers property from the paragraphs_item render array).@laryn , this means that I had to "reverse your reversal" [here](https://github.com/backdrop-contrib/paragraphs/bl

[2021-12-04 21:33] argiepiano opened #110 "Use the correct preprocess function to add the modal administration"
This relates to #91 - specifically see my comment https://github.com/backdrop-contrib/paragraphs/issues/91#issuecomment-986095491

Preprocessing of Entity Plus entities is confusing. One would logically assume that the following preprocess hook would work: `template_preprocess_paragraphs_item()` to preprocess paragraph items. But no. These preprocessing functions never get called. Which is what le

[2021-12-04 21:40] argiepiano commented on #110
PR #111

Please test

[2021-12-05 13:14] #110 closed

[2021-12-05 13:19] #108 closed

[2021-12-05 13:48] laryn commented on #106
@herbdool This should do it, right? https://github.com/backdrop-contrib/paragraphs/pull/112

[2021-12-06 04:35] herbdool commented on #106
@laryn I think so.

Then down the line you can decide whether to continue using entity_plus for this or use core.

[2021-12-07 00:58] argiepiano opened #113 "Extend EntityPlusController and restore/rewrite `template_preprocess_paragraphs_item`"
In recent a issue (#110) and a recent merged PR (#111) we fixed a rendering problem (#91) by eliminating a faulty #theme_wrappers in `paragraphs.field_formatter.inc` and by using `paragraphs_preprocess_entity_plus` instead of `template_preprocess_paragraphs_item` to preprocess variables for the template `paragraphs_item.tpl.php`.

However, after [further discussion](https://github.com/backdrop-con

[2021-12-07 01:07] argiepiano commented on #113
PR: #114

[2021-12-07 06:18] herbdool commented on #91
@argiepiano awesome! I haven't tested but that's great that you unraveled this knot.

[2021-12-07 12:53] #113 closed

[2021-12-07 12:57] #106 closed

[2021-12-07 15:29] laryn commented on #91
HUGE shout out to @argiepiano who stepped in and crushed this one in https://github.com/backdrop-contrib/paragraphs/issues/113. Latest `1.x-1.2.0-alpha2` release should solve this while retaining use of `template_preprocess_paragraphs_item()`.

I was a little over-eager in releasing this next alpha -- almost immediately afterwards I realized one minor tweak that should help with backwards compatib

[2021-12-07 15:30] laryn commented on #26
@olafgrabienski I think @argiepiano 's work in https://github.com/backdrop-contrib/paragraphs/issues/113 solves this issue as well. Please test to be sure and reopen if it doesn't work for you (it works in my testing).

[2021-12-07 15:30] #26 closed

[2021-12-07 17:53] argiepiano commented on #26
I haven't tested the fix with Field Group, so, @olafgrabienski , if you see any issues let us know.

[2021-12-07 19:32] laryn commented on #105
@neessen Please reopen if you find an issue or things aren't as described.

[2021-12-07 19:32] #105 closed

[2021-12-08 19:41] laryn opened #115 "Modal admin dropbutton covers links in paragraphs content"
I've seen a few times where the modal admin dropbuttons will invisibly cover the paragraphs content, so links are not clickable for example. Some minor z-index tweaks should fix this.

[2021-12-08 19:42] #115 closed

[2021-12-08 22:28] #107 closed

[2021-12-08 22:32] laryn commented on #44
I just tested this and did not see the notice so I am assuming that some of the changes since the first report have fixed it. Please reopen if you see these notices with the latest development version of Paragraphs.

[2021-12-08 22:32] #44 closed

[2021-12-09 06:20] neessen commented on #91
Nice work - just upgraded to the `1.x-1.2.0-alpha2` version on a couple of my sites, with no problems so far..  :)

[2021-12-09 12:32] laryn commented on #91
Great! I'm going to close this issue -- please reopen or open a new issue if something comes up with the latest release.

[2021-12-09 12:32] #91 closed

[2021-12-09 12:42] laryn opened #116 "Add a "Replicate" button"
If the Replicate Paragraphs module is installed perhaps it would be helpful to add a "Replicate" button on the Paragraphs item in the admin operations listings? (e.g. in edit mode and in the modal edit dropbuttons) One use case is obviously just to create multiple similar paragraphs, but if we add [Scheduled paragraphs](https://github.com/backdrop-contrib/paragraphs/issues/103) it would be very us

[2021-12-14 15:00] olafgrabienski commented on #26
Hey @laryn and @argiepiano, I've finally tested the fix with Field Group, and it's working perfectly. Thank you very much!

(Tested with Paragraphs 1.x-1.2.0-alpha2 and Field Group 1.x-1.1.0.)

[2022-01-06 22:00] laryn commented on #116
Possibility: merge `replicate_paragraphs` into this module as part of this? See https://github.com/backdrop-contrib/replicate/issues/1

[2022-01-10 02:25] argiepiano opened #117 "Add `'property_type'` and `'property_callbacks'` keys and values to paragraphs field definition"
Paragraphs needs to include `'property_type'` and `'property_callbacks'` keys and values in the field definition array found in the `paragraphs_field_info()`.

Interestingly, these were removed when porting the module to Backdrop.

These keys are necessary to allow metadata wrapper access AND token access to all paragraphs fields Without these, you can't access field values with `entity_metadata_w

[2022-01-10 03:34] argiepiano commented on #117
PR #118 . I found this issue when testing tokens (entity_token can't fulfill tokens for paragraph fields unless the this metadata property info is there). I also fixed a call to entity_metadata_field_get_language, which does not exist.

[2022-02-04 13:46] argiepiano commented on #117
Additionally, without these two lines, Rules can't  select, operate on, or access/set Paragraphs fields in its entry widgets.

[2022-02-04 16:43] irinaz opened #119 "Message to change schema version from 7101 to 7103 when upgrading D7 site with paragraphs to Backdrop 1.21.1 on Pantheon hosting"
Hi, I am upgrading D7 site with paragraphs to Backdrop  1.21.1 on Pantheon hosting, and I am getting the following error

paragraphs module can not be updated. Its schema version is 7101. Updates up to and including 7103 have been removed in this release. In order to update paragraphs module, you will first need to upgrade to the last version in which these updates were available.

I am not sure t

[2022-02-05 04:48] argiepiano opened #120 "Fix typehinting of buildContent in ParagraphsItemEntityController"
EntityControllerInterface::buildContent() now typehints its first argument, $entity,  as `EntityInterface`. All classes that implement this interface or an extension of this interface (including ParagraphsItemEntityController) must typehint the first argument the same way.

This is not an issue with PHP 7.3 or 7.4, but it does throw a fatal error in 7.1 ,  and probably also in 7.0. See this report

[2022-02-05 04:59] argiepiano commented on #120
PR #121

[2022-02-06 00:02] #120 closed

[2022-02-06 00:15] laryn commented on #119
@irinaz Could you test the PR I added here?

[2022-02-06 00:16] #117 closed

[2022-02-07 04:25] irinaz commented on #119
Hi @laryn, thank you so much for working on this issue.  It is definitely helping, but still see some problems. Here are my steps
- I am working on pantheon hosting
- I updated code with new paragraph module
- Wiped database
- Imported D7 db and started core/update.php

This time I can complete the update but I still see the following errors

- When I flush cache I see the following:
SQLSTATE[42S0

[2022-02-07 04:41] argiepiano commented on #119
Hi @irinaz .

So, the issue happens because Backdrop's Paragraphs added a new database column to the table `paragraphs_item` called `status`. Supposedly this column is added in `paragraphs_update_1003()`. This column did not exist in Drupal's version , which is why you are seeing that error.

Apparently, in your installation, this hook_update_N has not been successfully ran, meaning that the colum

[2022-02-07 04:47] irinaz commented on #119
@argiepiano , thank you so much, it is amazing to get help instantly!  Yes, I updated code in my instance of paragraph module with new code from this commit https://github.com/backdrop-contrib/paragraphs/pull/122/commits/53f3d4c9c0e73fcf00547240cfc07a7ef577f295 .  I do not see the problems that I had before I applied this patch, but I see next iteration of errors.
I suspect that something needs to

[2022-02-07 04:49] argiepiano commented on #119
Thanks, @irinaz . EntityPlusController is just doing what Paragraphs is telling it to do - basically a database query that includes a column (status) that doesn't exist in your database. So the issue is not with Entity Plus, but rather with  the upgrade itself.

I could take a quick look at your test site if you want to give me access - I still have about 30 minutes of sanity before bed time haha

[2022-02-07 05:20] argiepiano commented on #119
Just a quick note in case @laryn takes a look at this tomorrow: I did a test-drive with a very simple Drupal site that used Paragraphs (I was sure to create a Paragraphs bundle and create some content with it). I applied #122 and proceeded to do the upgrade to Backdrop.

Things worked for me. Granted, the site was very simple.  The column `status` was created normally, so this issue may have to do

[2022-02-07 05:34] irinaz commented on #119
Thanks a lot - I am using PHP 7.2 which is set in  pantheon.yml file.

[2022-02-07 05:44] laryn commented on #119
@irinaz I'm shutting down for the night but if you can still see the site, does the admin menu have a red circle indicating that there are still database updates that need to run? (Or check **/core/update.php?op=info**)

[2022-02-07 05:48] irinaz commented on #119
@laryn thank you!  I broke the site completely for now, I will start tomorrow and I will double check that I run db updates - I might have missed this step.  I will post updates and links here when I can repeat all steps again.  thank you and good night!!

[2022-02-07 14:46] laryn commented on #119
Okay, sounds good!

[2022-02-09 04:26] e0Re0R opened #123 "Unpublish button appears regardless of "Allow unpublishing from the admin interface." setting"
Hi,
I presume the intended behaviour of unticking "Allow unpublishing from the admin interface." is so that the Unpublish/Publish option does not appear when editing a paragraph.

I find that the setting is being ignored. Sorry I don't know enough to provide a diff file.
I'm looking at version 1.x-1.2.0-alpha2, in the paragraphs.field_widget.inc  file, in the paragraphs_field_widget_form_build fun

[2022-02-09 04:48] #123 closed

[2022-02-09 04:49] laryn commented on #123
Thanks @e0Re0R -- good catch. If the setting was turned on and then turned off it remains set and could never be hidden with the previous logic. I've changed `isset` to `!empty` which does the equivalent of what you are proposing.

I appreciate the report. This will be in the next release.

[2022-02-09 04:52] #119 closed

[2022-02-09 04:53] laryn commented on #79
Closing due to lack of interest. Feel free to reopen.

[2022-02-09 04:53] #79 closed

[2022-02-09 04:54] laryn commented on #82
Follow along here to see what ends up as the recommendation:

 - https://github.com/backdrop-contrib/rules/issues/138

[2022-02-16 22:32] laryn opened #125 "Update GHA configuration"
Seems best to follow @indigoxela's lead on GHA configuration, so we should update to match this latest:

 - https://github.com/backdrop-contrib/i18n/commit/9067c22d665be882c8f06bea88af2f5aa88dee01

[2022-02-17 01:14] #125 closed

[2022-03-04 12:52] bdalomgir opened #127 "Paragraph 1.2.0-beta1 not compatible with Paragraphs jQuery UI Accordion"
After updating the paragraphs 1.x-1.1.0 to 1.x-1.2.0-beta1 version it affects the paragraphs jQuery UI Accordion module. As a result, it breaks all the accordion designs.

[2022-03-04 12:58] laryn commented on #127
Did you update all modules (eg. Entity plus) and clear caches? Can you provide more info on how it breaks? I am using that module without a problem in a few places I think.

[2022-03-08 16:11] yorkshire-pudding opened #128 "Warning: uasort() expects parameter 2 to be a valid callback, function 'element_sort' not found or invalid function name"
**Steps to reproduce**

1. Create basic text paragraph bundle
2. Create image paragraph bundle
3. Ensure errors message display is set to 'All messages' or 'Errors and warnings'
4. Add paragraph field to content type

**Expected result**
Form loads normally

**Actual result**
Warning: uasort() expects parameter 2 to be a valid callback, function 'element_sort' not found or invalid function name in

[2022-03-08 16:25] laryn commented on #128
Hmm, strange. I can't dig deeper right now but that pattern/function seems to be in use in at least one case in core:

https://github.com/backdrop/backdrop/blob/c982552fa3724a58a7be1371d4b76184cebdc359/core/modules/file/file.module#L3278

[2022-03-08 16:26] yorkshire-pudding commented on #128
Very odd - not causing any blockages right now, but thought it was worth logging.

[2022-03-08 16:28] laryn commented on #128
Is Drupal compatibility turned off on the site you're working on?

https://docs.backdropcms.org/api/backdrop/core%21includes%21drupal.inc/function/element_sort/1

[2022-03-08 16:29] laryn commented on #128
Looks like this function has been deprecated and should be replaced. (In core, too, in at least a few places/references)

[2022-03-08 16:31] yorkshire-pudding commented on #128
Yes, it is switched off.  Just done search for it:
![image](https://user-images.githubusercontent.com/20357797/157282050-fdda05d9-afe5-4ddb-b56c-d287130f1a00.png)

[2022-03-08 16:33] laryn commented on #128
Care to open a core issue for this, too? The functions in `drupal.inc` obviously stay (at least until Backdrop 2.0) but the others should probably be fixed/cleaned up.

[2022-03-08 16:33] yorkshire-pudding commented on #128
Yes, ok - done at https://github.com/backdrop/backdrop-issues/issues/5535

It's a bit sparse as I'm not sure what steps I need to take to trigger the warning in core

[2022-03-09 07:08] bdalomgir commented on #127
@laryn Thanks for your reply. Yes, we updated all modules and cleared caches.
Before upgrading the paragraph module it addressed all required accordion classes to the markup please see the screenshot below
![Screenshot from 2022-03-09 12-52-05 png (1906×577) (1)](https://user-images.githubusercontent.com/13948360/157390196-610d60a8-1d88-4fba-a0e8-c23fa011d1cd.png)

But after upgrading it does not

[2022-03-09 13:05] laryn commented on #127
Do you have a customized template file in your theme for accordion paragraphs? If so that might need slight tweaking.

[2022-03-10 04:57] argiepiano commented on #127
I have done some testing with Paragraphs 1.x-1.2.0-beta1 and Paragraphs jQuery UI Accordion 1.x-1.0.1 and I can't reproduce this issue. The elements have the right classes, and the accordion seems to be working. Backdrop 1.21.3 and PHP 7.3.29.

Like @laryn, I also suspect that this issue may be the result of a customized paragraphs-item or node template file.
<img width="889" alt="Screen Shot 2022

[2022-03-10 07:00] bdalomgir commented on #127
Thanks @laryn and @argiepiano for your reply. I have debugged again and found that normal accordion in paragraph working just fine. But we had a different case. We created an accordion using a title and description (which is another paragraph referenced). In this case its not working. Please check the screenshot below what we did -
![Accordion-with-reference-paragraph](https://user-images.githubus

[2022-03-10 13:33] argiepiano commented on #127
When you say "not working" what exactly do you mean? Please provide more information about the issue.

[2022-03-10 13:39] bdalomgir commented on #127
@argiepiano Not workings means Its not getting any accordion class i.e. jquery-ui-accordion. So total accordion functionality broke.

[2022-03-10 13:41] argiepiano commented on #127
Does it work if instead of a Paragraph field for description you use a text field?

[2022-03-10 13:43] argiepiano commented on #127
Also, which field has the accordion? Description? Or the field that points to the "Mosaic accordion" paragraph type?
 Also, what type of paragraphs is Description pointing to?

In other words, the more information you can provide, the better. It's hard to help without knowing all the details

[2022-03-10 19:16] laryn opened #129 "Translation issues with modal admin"
I added locale/translation on a site and when a page has a language set, the modal admin won't save new paragraphs from the front end. Log shows:

Modal sorting is also affecting when languages are involved:

[2022-03-10 19:28] argiepiano commented on #129
Looking at it very quickly....

That chunk of code is iterating through the hosting entity's field's delta to assign them a the paragraph entity, as in $node->field_name['en'][$delta]['entity'] = paragraph_entity

So I think the problem is with the host entity. It looks like the field in that host entity (the node) doesn't have a language code.  Not sure why.

[2022-03-10 20:19] laryn commented on #129
Thanks for checking, @argiepiano -- it does look like fields are not being saved with language codes (at least on a number of my sites, I haven't spun up a blank site to test yet). That does seem strange!

[2022-03-10 20:27] laryn commented on #129
I linked a PR that solves it for now: https://github.com/backdrop-contrib/paragraphs/pull/130/files

Maybe it won't be needed if we track down why Backdrop fields seem to be always set to LANGUAGE_NONE.

[2022-03-10 23:00] laryn commented on #129
Updating the top as it also seems to affect the modal sorting...

[2022-03-11 18:00] laryn opened #131 "Add modal edit option for backend"
@quicksketch suggested it would be a nice improvement to provide "modal edit" as an option for back-end administrators as well, in addition to the current options. If that works nicely, that may make sense as a default for new installs, leaving existing sites as is.

[2022-04-13 19:51] rbargerhuff opened #132 "Module is broken when it comes to fresh installations..."
The issue my colleague and I just discovered is that Paragraphs is broken on fresh installations.

With our Drupal 7 installation, we did not use the `entitycache` module. With the migration of Backdrop and the use of the latest version of the `Paragraphs `module, we have encountered a scenario where Paragraphs module will NOT create the tables needed, in particular the table `cache_entity_paragra

[2022-04-13 20:03] argiepiano commented on #132
You must be using version 1.1.0 of Paragraphs. Please check.

Because of a bug with the Backdrop CMS module portal the [Paragraphs version listed here](https://backdropcms.org/project/paragraphs)  is wrong. The current version 1.2.0-beta must be be manually [downloaded from here ](https://github.com/backdrop-contrib/paragraphs/releases/tag/1.x-1.2.0-beta1)

I'm not a maintainer of Paragraph, but t

[2022-04-14 15:54] alanmels opened #133 "Is Paragraphs module supported? If yes, then which version is good to use?"
The `/admin/reports/updates` page on my setup gives scary warning:

![Screen Shot 2022-04-14 at 10 53 05 AM](https://user-images.githubusercontent.com/56604405/163427482-d12b764c-950e-464c-a4a0-9a7c5e0031cc.png)

So is the module is supported? Which version is recommended to use?

[2022-04-14 16:00] argiepiano commented on #133
Uh oh. That's most likely a setting in the Backdrop module portal. @bugfolder? @laryn?

[2022-04-14 19:46] bugfolder commented on #133
The current recommended release is 1.x-1.1.0 ("recommended" because that's the highest-numbered version that doesn't have development extra tags like "beta1"). It's currently marked as not supported, presumably because there are versions of 1.2.0-something.

I've marked the recommended release 1.x-1.1.0 as supported; please check whether it's showing up properly in the updates page.

Since there h

[2022-04-14 19:47] bugfolder commented on #133
Relevant issue: https://github.com/backdrop-ops/backdropcms.org/issues/905.

[2022-04-18 15:25] laryn commented on #82
This has been merged in core, which I think should cover this case as well:

 - https://github.com/backdrop/backdrop-issues/issues/5499

[2022-04-18 15:25] #82 closed

[2022-04-18 16:04] laryn commented on #60
After two alphas and a beta, I think we're at a point where we can do a first formal release that includes this functionality (using dropbutton instead of contextual links). Big thanks to @olafgrabienski for helping me test and to those that did the heavy lifting (using contextual links) in the Drupal 7 thread with patches, testing and feedback, including: @ModulesUnraveled, @darthsteven, jonathan

[2022-04-18 16:08] laryn commented on #133
Thanks all. Since we've gone through two alphas and a beta at this point I also feel okay about releasing the current status as a more formal version. Done today.

[2022-04-18 16:08] #133 closed

[2022-04-18 16:09] laryn commented on #132
@rbargerhuff I've released 1.x-1.2.0 today, in case the `beta` was scaring you off. Thanks @argiepiano for helping figure out the issue here.

[2022-04-18 16:09] #132 closed

[2022-04-21 06:21] allsite opened #134 "Multi-value paragraph fields have an extra editor instance"
I have a paragraph field "long text format" that can have an unlimited amount of values. The screenshot below reflects two blank values, with no way to remove them individually. They do get saved to the database. Every time I edit the node with this paragraph, it adds another blank value to the database. I have over a dozen of these blank "Text" field values and it continues to grow by 1 each time

[2022-04-21 06:40] allsite commented on #134
After more testing, it seems to function as expected as plain text (no CKE editor). Perhaps it could check for empty ['value']? Or maybe this isn't a paragraphs bug.

[2022-04-29 15:52] rbargerhuff commented on #132
@argiepiano @laryn Thank you very much! I didn't see your comments and I appreciate how quickly you responded. I am juggling a lot of work right now and did not notice.

We were using 1.20-beta1 when I first reported that issue. Upgrading to 1.20 addressed the issue and I have confirmed the fix.

Cheers to you both!

[2022-05-27 21:14] stpaultim commented on #131
@laryn - Can you say a little more about this?

Are the config options in the views display a current example of this in core?

![image](https://user-images.githubusercontent.com/3144571/170790244-b44e549d-fa74-4053-a4aa-4e0ca032c08d.png)

Can you point to any other contrib or core examples that might be useful?

[2022-05-27 21:23] stpaultim commented on #131
@laryn - I spoke too soon. I had not tried the front end modal editing. WOW!!!!!

You are looking for the same option in the backend. Now, it's clear to me.

![image](https://user-images.githubusercontent.com/3144571/170791070-7fc2ea23-0d4e-4a2b-bc88-00fdf723874b.png)

This is pretty amazing. Why didn't I know about this? (Maybe I did know about it and forgot, which is good, because I was able to

[2022-06-07 08:47] stpaultim opened #135 "Administrative Labels for Collapsible Paragraphs"
When paragraphs are collapsed on the node edit page, it's hard to tell them apart (in the same way that is used to be hard to tell custom content block on a layout).

If there already some way to label them (admin labels)?

Which text block is which?

![image](https://user-images.githubusercontent.com/3144571/172337940-af4180f1-7628-46e9-9cf4-cd2a16768579.png)

[2022-06-10 09:37] laryn commented on #135
Paragraphs creates a display mode for Paragraphs, called `Paragraphs Editor Preview`. You can add fields from that Paragraph type and adjust how they display in this "collapsed" preview.

[2022-06-17 07:26] stpaultim opened #136 "Page Preview Not Working"
I've just noticed that the node edit PREVIEW button does not seem to be working with my paragraphs.

Is this is known limitation of Paragraphs (if so, is it documented anywhere for folks like me to find) or is this a bug?

Or am I just doing something wrong.

![image](https://user-images.githubusercontent.com/3144571/174247585-eb051fe2-882c-4281-b046-b7d7ce7bd7c3.png)

[2022-06-17 13:55] argiepiano commented on #136
Can you describe "not working" in more detail please? How to reproduce?

[2022-06-27 11:58] sudipto68 commented on #136
We are using different paragraph types for our content and they work perfectly when we Save and View the page but if we try the Preview button there seen nothing on that Preview page. In Simple, Paragraphs are not working on the Preview page.

[2022-06-29 04:22] stpaultim commented on #136
As @sudipto68 reported. If I click on the preview I see the page title and the blocks that appear below the page content, but the page content is not visible at all - there is no preview of the content contained within the paragraphs on that page.

[2022-06-29 04:35] stpaultim opened #137 "Improved button for "Add another paragraph""
Having worked on a Drupal 9 site with paragraphs recently and now working on a Backdrop CMS site with paragraphs, I can say that I am much happier with the UI for building paragraphs in Backdrop CMS.

However, one frustration I have is that I ALWAYS click on the "Add Another Paragraph" button before selecting which type of paragraph I want. Something draws me to the button, before making my select

[2022-06-30 03:40] stpaultim commented on #135
@laryn - I'm experimenting with this now and don't see how to add a field to the collapsed view in edit mode. In fact, I'm not seeing that my changes to the "Paragraphs Editor Preview" display mode are having any effect at all.

I think I'm missing something.

[2022-06-30 04:10] stpaultim commented on #135
@laryn - Nevermind. I figured it out.

https://forum.backdropcms.org/forum/how-use-paragraphs-editor-preview

It seems this feature exists already and works great, once you figure it out. However, in my opinion, it's pretty darn difficult to figure out.

[2022-06-30 04:10] #135 closed

[2022-06-30 04:51] argiepiano commented on #136
@laryn and @stpaultim, I've done a bit of debugging on why the Preview button doesn't show the Paragraph fields in a node.

So, in Backdrop, Paragraphs implements  hook_field_prepare_view() (in file paragraphs.field_formatter.inc). I don't know what the purpose of this implementation is, but I suspect it's related to the experimental modal administration. The issue is that, in that hook, the funct

[2022-06-30 04:55] argiepiano commented on #136
Also tried leaving hook_field_prepare_view() as is, and commenting out lines 101-107 in paragraphs_field_formatter_view()  and that also works for the Preview...

[2022-06-30 06:53] stpaultim commented on #136
@argiepiano Thanks. I'm not sure that I'll be able to fix this. But, maybe I can recruit someone who can.

[2022-06-30 14:11] argiepiano commented on #136
A couple more thoughts: `scratch_paragraph` is used to avoid rendering the Paragraph field. @laryn added this is #60 not too long ago. And as I suspected it was added when the modal editing was added. It's unclear to me what @laryn was trying to solve with this.

I have tested by removing BOTH `paragraphs_field_prepare_view()` AND lines 101-107 (see below), and the modal still works fine in my tes

[2022-06-30 14:18] argiepiano commented on #136
Just wanted to add that this has to be looked at carefully. I haven't tested in all situations, e.g. nested paragraphs...

[2022-06-30 22:28] laryn commented on #137
Sounds reasonable. Have you also tested whether using the buttons instead of the dropdown feels better for you?

[2022-07-01 02:41] stpaultim commented on #137
I had not tested the buttons, because I expected something like this (and I was correct).
![image](https://user-images.githubusercontent.com/3144571/176812871-47d91798-e470-48ae-aa61-f60c68b2f89c.png)

Now, if we had fewer paragraph types, this might be a good idea and might solve my problem. I'm not sure I want to do this, with some many possible paragraphs.

Note: My previous proposal was my fir

[2022-07-02 05:33] laryn opened #138 "Issue with Block Reference fields"
I was trying to add a block reference field to a Paragraph Type and this is the result:

[2022-07-02 05:56] argiepiano commented on #138
Try using the dev version of Block Reference. There is a commit from Feb 5, 2019 that deals with parameters for access functions. The commit has not been released  (last release is from 2018). BTW, it looks like an abandoned project - one more to the list...

[2022-07-02 05:57] argiepiano commented on #138
https://github.com/backdrop-contrib/blockreference/commit/2ea2a3407dc53607fe3657a0443940613c5b7e1c

[2022-07-20 04:06] stpaultim opened #139 "Feedback on Collapse Message"
I just got this feedback from a client.

[code]
Maybe the message should say - "Changes to this item will not be saved until the entire page is saved."

[2022-07-23 00:57] stpaultim opened #140 "Enable modal administration - Sometimes modal does not open fully"
I understand that this is an experimental feature. The only problem that we've been having with it is that sometimes (not always) the modal does not open fully.

![image](https://user-images.githubusercontent.com/3144571/180584126-9805bbff-d461-4602-9c07-d158e65aa019.png)

Usually, if we start scrolling on the page, the modal pops open and it's not a very big problem. But, in this specific test I

[2022-07-23 01:06] argiepiano commented on #140
I experienced this same behavior with modals in other contexts (not opening correctly). I suspect it's a bug. I solved it by loading the js library backdrop.dialog.ajax in the page that contains the link that opens the dialog. As in adding `    backdrop_add_library('system', 'backdrop.dialog.ajax');` in a hook_preprocess_node()  hook.

The problem was that the needed library that controls the size

[2022-07-25 12:51] TeamTriplo commented on #140
I just tested adding  backdrop_add_library('system', 'backdrop.dialog.ajax'); in a hook_preprocess_node() hook and its working now. Now if anyone want to use in specific node they could easily get the node where want to put and make it working for specific node.

[2022-07-25 13:32] argiepiano commented on #140
Ideally, as a potential fix for all situations, this library should be added within `paragraphs_field_formatter_view()` when the modal admin is enabled.

[2022-07-29 01:56] stpaultim opened #141 "Does not save paragraph is you don't add/edit content"
This feature is a bug for me right now.

FEATURE:

If you create a paragraph but do not edit the content and then you save the page, the empty paragraph is not saved. In theory, this makes perfect sense.

BUG:

I created a paragraph with a Markup field. In the markup field, I include a HR. I want an option for site editors to use the paragraph to place a Horizontal Rule between two other paragraph

[2022-08-10 15:08] laryn commented on #141
@stpaultim I have not used the Markup field module. Is this meant to insert a HR on the author/node-edit form, or on the front end display?

[2022-08-10 15:11] laryn commented on #140
@argiepiano @stpaultim Would it make sense to add it here with these others using `#attached`?

https://github.com/backdrop-contrib/paragraphs/blob/1.x-1.x/paragraphs.module#L1839-L1844

[2022-08-10 15:16] argiepiano commented on #140
Replacing `'backdrop.ajax'` with `'backdrop.dialog.ajax'` should  be enough in:
https://github.com/backdrop-contrib/paragraphs/blob/e1d39254e38cfccca5d323dda60293d485858154/paragraphs.module#L1844

Adding `'backdrop.dialog.ajax'` will automatically add `backdrop.ajax`

But I have not tested whether this is the better location for this, or paragraphs_field_formatter_view

[2022-08-10 15:39] laryn commented on #139
Or perhaps 'This page must be saved to record recent changes.'?

[2022-08-10 16:43] olafgrabienski commented on #139
Maybe also of interest: the wording when something in a Layout has changed (before saving):

More words but also more clear, in my opinion.

[2022-08-10 17:45] laryn commented on #4
As https://github.com/backdrop/backdrop-issues/issues/5386 was merged I think this issue can probably be closed here.

[2022-08-10 17:45] #4 closed

[2022-08-11 20:44] laryn commented on #140
@stpaultim Are you willing to test the site that was having the issue with the change above?

[2022-08-12 06:30] stpaultim commented on #140
We did get this working by hacking the module with some code based upon the suggestion by @argiepiano. I will ask my colleagues to chime in here with feedback on what worked for them and to test whatever patch we think will fix this problem. @laryn

[2022-08-12 19:01] laryn commented on #140
Thanks @stpaultim -- if it works well, I think the cleanest would be to simply replacing 'backdrop.ajax' with 'backdrop.dialog.ajax' in the line discussed above. If that doesn't work well, let's try plan B (paragraphs_field_formatter_view).

[2022-08-18 10:01] bdalomgir commented on #140
@stpaultim  I just replaced  'backdrop.ajax' with 'backdrop.dialog.ajax' in **paragraphs.module** at line 1844 and it's works for me. Thanks @argiepiano

[2022-08-18 19:14] stpaultim commented on #141
@laryn For this use case, I wanted a way to put an HR between two paragraphs. My thought was to create a paragraph for that sole purpose. This would have put the HR on the front end display of the node, between two paragraphs.

I want the site editor to have this capacity. The Markup field should work for this purpose, except for the problem I mentioned. I'm totally open to the idea that there is

[2022-08-18 19:16] stpaultim commented on #140
@bdalomgir - Would you please create a PR for this module with that change? That will make it easier to discuss and test.

Atten: @laryn and @argiepiano

[2022-08-19 06:34] stpaultim commented on #140
@bdalomgir - Thanks for PR - https://github.com/backdrop-contrib/paragraphs/pull/142

[2022-08-26 21:07] laryn commented on #140
Merged. Thanks @bdalomgir, @stpaultim, and @argiepiano!

[2022-08-26 21:07] #140 closed

[2022-08-26 21:13] laryn commented on #136
@argiepiano Thanks for digging into this as much as you have. If memory serves, the `scratch_paragraph` was intended for front end administration in the case that we have a paragraphs field that is empty, so that we can still add the front end admin options to create a new paragraphs item from the front end. But it's worth testing to make sure it's actually doing that, or needed. You are right tha

[2022-08-26 21:18] laryn commented on #127
@bdalomgir Is this still an issue in the latest version, or should we close it?

[2022-08-26 22:10] laryn commented on #99
Working on this here for now: https://github.com/backdrop-contrib/paragraphs/tree/1.x-1.x-issue-99

[2022-08-27 20:14] yorkshire-pudding opened #143 "Enable default permissions for new paragraph types"
As a site builder
I want by default anonymous to have view access to paragraphs
So that I don't need to add that permission each time

[2022-08-28 22:36] #99 closed

[2022-08-28 22:40] laryn commented on #143
@yorkshire-pudding I assume this is with the `Paragraphs Bundle Permissions` submodule?

[2022-08-28 22:41] laryn opened #145 "Rename `Paragraphs Bundle Permissions` to `Paragraphs Type Permissions`"
We've changed the public-facing language from "bundle" to "type" but the submodule is still currently named `Paragraphs Bundle Permissions`.

[2022-08-29 07:11] yorkshire-pudding commented on #143
@laryn - Yes, that is correct.  I think I started creating paragraphs before I enabled it.  When I enabled it all those paragraphs had view permission for paragraphs but any created subsequently had no permissions by default.  I know content types expose permissions in the Configure screen; perhaps replicating that would be the best approach?

[2022-08-29 14:22] laryn commented on #69
I'm going to close this for now. Feel free to reopen if you are still seeing this on the latest version and have steps to reproduce, of course!

[2022-08-29 14:22] #69 closed

[2022-08-29 14:39] #128 closed

[2022-08-29 14:39] laryn commented on #128
@yorkshire-pudding I think this is fixed in the latest dev version -- feel free to test.

[2022-08-29 14:43] laryn commented on #138
I've opened an issue to check in with the maintainer: https://github.com/backdrop-contrib/blockreference/issues/13

[2022-08-29 14:47] laryn commented on #138
This seems to be an issue with Block Reference so I'll close it here.

[2022-08-29 14:47] #138 closed

[2022-08-29 14:52] #129 closed

[2022-08-29 14:58] laryn commented on #145
I'm changing the front-facing language in this sub-module to match the main module, and in some of the comments a blended approach (`type/bundle`) until I get a chance to do a more thorough combing-through of the entire module, adding deprecations for function names, updating permission names, etc. in https://github.com/backdrop-contrib/paragraphs/issues/23

[2022-08-29 15:05] #145 closed

[2022-08-29 15:40] laryn commented on #134
@allsite A few follow up questions:

1. Does the text field have any value in the "Default value" settings, even if it's spaces added to the WYSIWYG interface?
2. Does this happen to a multi-value text field that is added to a regular content type rather than a Paragraph, or just when added to a Paragraph?
3. Does this relate to the "Required" status at all? (if you test by removing the "Required"

[2022-09-01 07:36] yorkshire-pudding commented on #62
I think those suggestion would be good.

[2022-09-21 20:29] stpaultim commented on #143
I agree that this would be really helpful.

[2022-09-29 11:30] sudipto68 commented on #136
@argiepiano  and @laryn thanks for figuring out this issue. We tested commenting out both the `paragraphs_field_prepare_view()` and  lines 101-107 in `paragraphs.field_formatter.inc` and found preview shows all paragraphs except paragraphs which using paragraphs jquery ui accordion (I guess thats another issue). Nested paragraphs were showing perfectly. But we got some notice as below -
![It is a

[2022-09-29 11:31] bdalomgir commented on #127
@laryn Thanks so much for your reply.
I have experimented with the new version of the Paragraph module on different machines/Environments and found the same problem. You can reproduce the problem by following the steps.

**Steps are:**

1. Create a paragraph type called **Accordion one** with two field
    - Accordion Title
    - Accordion body
2. Create another paragraph type called **Accordion t

[2022-10-11 03:41] allsite commented on #134
@laryn

Hi Layn,
I ran a few tests on a different install. Here's what I discovered.

The empty input widgets only start to accumulate when Filtered Text is enabled on the multi value field.

Simply edit, save, repeat - you should end up with a wall of empties, given the two conditions from above are in play.

It doesn't seem a default value is related, as I verified there was nothing configured (

[2022-10-11 04:06] argiepiano commented on #134
I can confirm that this seems to be a core bug. @allsite, are you willing to open a bug report in the main backdrop-issue repo?

[2022-10-11 04:10] argiepiano commented on #134
Actually this has been reported (but not fixed) in the core queue.
https://github.com/backdrop/backdrop-issues/issues/5153

[2022-10-11 04:11] allsite commented on #134
Excellent. Thanks for adding the reference.

[2022-10-11 11:12] bdalomgir commented on #127
@laryn I have been debugging this issue for a while now and figured out that the problem I mentioned in my last comment is not related to this issue rather it's a Paragraphs jQuery UI Accordion issue. I found they use an attribute ID for each paragraph accordion and the id is the entity ID (nid) where the accordion is placed. I checked changing the ID to different text and both the accordion were

[2022-10-11 11:13] #127 closed

[2022-10-13 12:11] sudipto68 commented on #136
I have submitted a PR Based on the solution. Here is the PR [136](https://github.com/backdrop-contrib/paragraphs/pull/146)

[2022-10-14 21:03] laryn opened #147 "Layout Paragraphs"
This is a concept I'd love to hear further input from others on.

Right now a multi-value Paragraphs field uses table drag to make a re-orderable list of fields that can be dragged up and down. I am interested in how/whether it could be achieved to turn this into a mini-layout, perhaps incorporating elements of the flexible layout functionality that is in core. This would allow people to build mor

[2022-10-14 21:37] stpaultim commented on #147
If I'm correct. Aten Design is the primary driver behind layout_paragraphs in Drupal 9 and also a contributor to Backdrop CMS. Maybe you should talk to them and see if they might be interested.

I have been hearing quite a bit about layout_paragraphs for Drupal 9 lately, but maybe because I've been listening to content put out by Aten.

;-)

https://atendesigngroup.com/articles/expressive-authorin

[2022-10-31 17:12] robertgarrigos opened #148 "Error: "Insert value list does not match column list""
I'm having this error on a new site am working on:

[code]
When saving a node with a paragraph item which contains a date field with hours and minutes.

I tried the same paragraph date field WITHOUT hours and minutes, and it does NOT trigger the error. Also, the same date field WITH hours and minutes within the content type, not the paragraph, does NOT trigger the error either.

I have entity ui,

[2022-11-01 03:11] argiepiano commented on #148
I've been able to reproduce this problem only when I use the HTML5 date widget. Not sure what's causing it, but I'll try to take a look.

[2022-11-01 03:59] argiepiano commented on #148
OK, it's a bug in core, in `date_html5_element_validate()` specifically, which is supposed to take care of transforming the returned form values into something that can be stored in the date field table.  I'll open an issue there.

[2022-11-01 04:08] argiepiano commented on #148
Issue https://github.com/backdrop/backdrop-issues/issues/5847

[2022-11-01 06:39] robertgarrigos commented on #148
Confirmed in the PR https://github.com/backdrop/backdrop/pull/4248 that it fixed the problem. Thanks @argiepiano !

[2022-11-29 14:18] yorkshire-pudding opened #149 "Add Paragraph Type Clone function"
As a site builder
I want to be able to clone a paragraph type
So that I can easily create a variant from the same field and display basis without having to recreate these manually.

I started off doing this [as a new module](https://github.com/backdrop-ops/contrib/issues/688) but realised that the best place to put the link would be in the drop menu, rather than having as a link on the page.  The

[2022-11-29 15:15] laryn commented on #149
@yorkshire-pudding This is great -- I think it is a valuable addition. Let me think on it a little as to whether it should be merged directly into Paragraphs. I'll also try to make some time to test the PR this week.